[2015-02-17 14:40] golbiga opened #3 "allowPasswordChange issue"
When setting the allowPasswordChange option to false, change the OK button to cancel since the user will be clicking on the pwPolicyURLButtonTitle. Having the OK button there can be confusing for some. Thanks!

[2015-02-17 15:09] macmule commented on #3
Also, as mentioned in IRC.. when prefslocked is not true.. users are still prompted to changed their password even with allowPasswordChange set to false.

[2015-03-02 16:42] gthb commented on #4
A local account may still want to use ADPassMon; e.g. I'm accessing domain resources over VPN from a local user account, which isn't domain-associated (yet) and doesn't have the same username as my AD user. (Recently joined a company, had this computer with this user account already, so this is the setup for now.)

For that use case, couldn't ADPassMon simply allow setting the domain server and us

[2015-03-07 09:32] macmule commented on #4
I'm trying to figure out how this would work.

Especially with the Mac not being on the domain & the local account not having the same username.

[2015-03-14 15:46] gthb commented on #4
I tried out simply overriding the username, when looking up `pwdLastSet` :

[code]

With this change, I built, and ran `export ADPASSMON_USER=<my domain username>` and then started ADPassMon, and it shows the correct time until expiry. Presumably then the alert functionality would work as well.

(Ideally the username override would be in the preferences pane, not an environment variable; the above

[2015-04-17 18:29] macmule commented on #9
Thanks Clayton.

It's just a DMG created in diskutil & dragged in, next release it'll be a zipped file uploaded to GitHub pre-release section.

Regards,

Ben.

[2015-04-17 18:30] clburlison commented on #9
:+1:

[2015-05-11 19:30] bp88 opened #10 "Make "Kerberos ticket not found" message editable"
This is an enhancement request to be able to modify the message that comes up when No Kerberos ticket is found. End users may get confused by the message (kerberos? what's that?) and it would be great if an admin could change the message to something they deem a bit more user friendly.

[2015-08-20 13:10] ScarabMonkey opened #1 "Any chance of updating this fork to use the latest pmbuko code?"
I'd really appreciate a version that understands 2K12R2 server and has the login items syncing...

[2015-08-29 16:44] macmule commented on #1
We're going to merge "soon"

So yes!

Regards,

Ben.

[2015-09-04 18:44] pmbuko commented on #1
It's done!

[2015-09-04 18:44] #1 closed, assigned to macmule

[2015-09-08 02:42] pmbuko opened #4 "menubar display doesn't decrement when away from the domain"
I'm running 2.5.0 build 1 (latest commit), though I think this has been around for a couple versions in my own code. This is most likely due to the domain test halting any further activity when off the domain.

[2015-09-08 02:43] pmbuko commented on #4
Confirmed the issue and have a fix but I want to test it before committing it.

[2015-09-08 03:24] pmbuko commented on #4
Fixed in [latest commit](https://github.com/macmule/ADPassMon/commit/bf4cece88aa9967136f21a71b3a48d15f16f9814).

[2015-09-08 03:24] #4 closed, assigned to pmbuko

[2015-09-09 09:12] macmule opened #5 "Change Password button on ADPassMon method doing nowt"

[2015-09-09 09:19] macmule commented on #5
Connected the button to the sent action.. Whoops

[2015-09-09 09:19] #5 closed, assigned to macmule

[2015-09-10 12:52] gmarnin opened #6 "10.10.5 Not Respecting Fine Grained Password Policy"
This isn't really an issue with ADPassMon but it is closely related to it.

So my 10.10.5 Mac has a fine grained password policy. When I login I’m getting warned by the OS that my password expires in 10 days (and I should change it) which isn’t correct. ADPassMon reports 65 days which is correct. Yeah for ADPassMod for respecting the policy! Is it a known issue that the Mac doesn't respect a fine

[2015-09-10 13:14] pmbuko commented on #6
[This is the line that gets the stored expiration date from AD](https://github.com/macmule/ADPassMon/blob/master/ADPassMon/ADPassMonAppDelegate.applescript#L685). The rest of the `easyMethod` code block converts that number to a UNIX date. [Here's a bash script](https://gist.github.com/pmbuko/0f8c6904def80cbb1265) that does more or less the same thing.

I'm not sure about the OS's warning and whet

[2015-09-11 20:22] macmule opened #7 "Remove erroneous app signing"
![screenshot 2015-09-11 11 31 02](https://cloud.githubusercontent.com/assets/2464974/9825441/3ae60f38-58cb-11e5-9132-17787a62a63e.png)

[2015-09-11 20:30] macmule commented on #7
Removed in 2.20.3 build

[2015-09-11 20:30] #7 closed, assigned to macmule

[2015-09-11 20:42] T-Short opened #8 "Feature request: Reset Local Items Keychain"
In the case where a user has a borked Local Items keychain from an earlier password change (multiple prompts for Local Items keychain password on login), a nice feature for remote support would be to have an option to reset this separately (maybe from the menubar dropdown?), i.e. just nuking the UUID folder in ~/Library/Keychains/ and requesting reboot as opposed to taking out the Login Keychain a

[2015-09-14 08:26] macmule opened #9 "Missing value prompt when attempting new keychain creation on 10.10"
Haven't had time to properly investigate, logging this to remind me.

[2015-09-14 13:43] pmbuko commented on #9
I have a fix for this and will be submitting it shortly.

[2015-09-14 13:48] pmbuko commented on #9
fixed.

[2015-09-14 13:48] #9 closed, assigned to macmule

[2015-09-14 13:53] pmbuko opened #11 "Error when updating password check interval"
When I try to change the value of the expiration check interval, the current NSTimer should terminate and a new one with the new interval should be started. Instead, I see the following error in Console:

[code]

[2015-09-14 15:24] pmbuko commented on #11
Fixed it. I cleaned up the code and rebound the preferences window box to a renamed function. Had to be sure we were consistently using the "my" keyword in all the right places. branch commit and merge coming...

[2015-09-14 15:24] #11 closed, assigned to pmbuko

[2015-09-21 08:49] macmule opened #14 "2.20.4 : Create New Keychain button not showing"
2.20.4:
![screen shot 2015-09-21 at 01 48 15](https://cloud.githubusercontent.com/assets/2464974/9988149/fc725d2e-6045-11e5-9fcd-249e6cb2485f.png)

Old v2 fork:
<img width="596" alt="your keychain is locked" src="https://cloud.githubusercontent.com/assets/2464974/9988160/1a34196a-6046-11e5-8cc9-39ea3285f1a8.png">

[2015-09-21 09:23] macmule commented on #14
Amended value transformer for the "Create New Keychain" button to NSNegateBoolean in 2.20.5

[2015-09-21 09:23] #14 closed, assigned to macmule

[2015-09-21 12:52] #6 closed, assigned to nobody

[2015-09-21 13:17] pmbuko opened #15 "If pass does not expire, no checking should occur and 're-check' menu item should be disabled."
This is a feature request from @slackmac on Slack.

[2015-09-21 13:29] pmbuko commented on #15
Added. Please test!

[2015-09-21 13:29] #15 closed, assigned to pmbuko

[2015-09-30 17:31] pmbuko opened #18 "Native OS Change Password box doesn't pop up."
The UI scripting fails to pop up the change password dialog. It takes you to the System Preferences window only.

[2015-09-30 17:34] pmbuko commented on #18
Fixed in [latest merge](https://github.com/macmule/ADPassMon/pull/19).

[2015-09-30 17:34] #18 closed, assigned to pmbuko

[2015-10-08 20:55] pmbuko opened #20 "ADPassMon should stay quiet if running under local account"
Some environments use a LaunchAgent to keep ADPassMon running for all users (whether local or AD-based). We should check whether the logged-in account is a local user early in the loading process so we can break out of all the processes and not draw the menu item. There should be a hidden pref option that tells ADPassMon to continue loading anyway. I will use this option, and others may find it us

[2015-10-08 23:02] pmbuko commented on #20
fixed in 2.20.9

[2015-10-08 23:02] #20 closed, assigned to pmbuko

[2015-10-09 16:23] joelperkins opened #22 "ADPassMon is not displaying in menu bar on AD Account"
##### Issue:

ADPassMon v2.20.8 is not displaying in the menu bar on an AD account. There is no evident way to interact with ADPassMon via the GUI.
##### Attempted Resolution:

Ran `defaults write org.pmbuko.ADPassMon runIfLocal -bool false` as suggested with no change in app behavior.
Issue persists through `killall cfprefsd`, logout, and reboot. ADPassMon process is running.
##### Environment:

[2015-10-09 17:08] pmbuko commented on #22
Thanks for the details. I'm pulling 2.20.8 until I figure out what I messed up.

[2015-10-12 18:36] pmbuko commented on #22
Fixed in 2.20.9

[2015-10-12 18:36] #22 closed, assigned to pmbuko

[2015-10-13 16:18] pmbuko opened #24 "Prefs window pops on on every launch"
It's only supposed to do it on the first launch.

[2015-10-13 16:19] pmbuko commented on #24
Fixed in the latest commit (didn't create a separate branch since I was having major issue with Xcode and git).

[2015-10-13 16:19] #24 closed, assigned to pmbuko

[2015-10-29 10:58] jardhug opened #25 "Time?"
was asked by macmule to log this. I was having issues with ADPassMon not reporting the correct password expiry date even though i reset my password from AD. Turns out we were missing a reverse DNS entry for our time server and our macs were pointing their time server to it's IP address, because of this the DC wasn't contactable. Changing the time server to it's hostname fixed this issue. This also

[2015-11-04 15:10] ScarabMonkey opened #26 "Easier to deploy"
Hi guys

It would be great if there was a way to make this software easier to deploy with reasonable settings.
I have now written an 'outset' script which runs at login to set the defaults that are sensible for our environment, but this still requires the users to open the software and set it to run in startup.

Is there any simple way to also get this to open at startup? Perhaps I just need to ad

[2015-11-04 15:13] macmule commented on #26
Hi,

There are plans afoot for a admin app that would assist in the packaging, including launch agents & generation of a profile.

However, as with all FOSS, time is a factor.

I'll leave this open & will update.

I use a LaunchAgent to run at login for example.

[2015-11-04 15:18] ScarabMonkey commented on #26
Brilliant, sounds great!
I'll have a play with LaunchControl in the meantime :)

[2015-11-04 21:00] pboushy commented on #26
@macmule Just to simplify mass deployment/updates, have you considered signing the app and creating a signed pkg?
Creating a pkg would probably be a good initial step to simplifying.

[2015-11-04 21:06] macmule commented on #26
Signing the app makes it harder to maintain as the builds need to be signed.

People can compile & sign themselves of course.

I don't think the app installation is much of an issue. More launching it & setting settings.

[2015-11-19 12:14] steven-j-klein opened #27 "ADPM showed days until expiry as a negative number"
Today when I unlocked my Mac, I looked in my menu bar and was surprised to see that my password would expire in **[-58d]**.  That's actually when I last changed my password — 58 days ago.

I selected _Re-check Expiration_ and it changed to **[31d]** which is the correct number.

[2015-11-19 12:18] macmule commented on #27
Hi Steven,

I think this is related to something I'm to add :)

I'll try & resolve over the week.

[2015-11-19 12:23] steven-j-klein opened #28 "The *About* box links to pmbuko's website"
As a (relatively) new user, I wanted to find the documentation. I looked in _About ADPassMon…_ and saw this:
**Documentation:**
    [http://yourmacguy.wordpress.com](http://yourmacguy.wordpress.com/ADPassMon/)

I clicked the link and it took me here: http://yourmacguy.wordpress.com/ADPassMon/

On that page I found a link to this page: https://github.com/macmule/ADPassMon/wiki

Shouldn't the link i

[2015-11-19 12:27] steven-j-klein commented on #27
BTW, is it my imagination, or did the days used to be reported in brackets? Like this: [31d]

Because I just noticed that it's appearing without brackets in my menubar: 31d

(FWIW, I prefer no brackets.)

[2015-11-19 13:57] macmule commented on #28
Will update next release!

[2015-11-19 14:27] pmbuko commented on #27
This is true. We did away with the brackets in one of the most recent releases.

[2015-11-20 15:38] ddcdennisb opened #29 "pwPolicyButton"
when using defaults write to set a pwPolicyButton its still just has the default "OK"

It was recommended trying pwPolicyButtonTitle as well and that didn't work.

[2015-11-20 15:43] pmbuko commented on #29
Just making sure. Are you restarting ADPassMon after making these prefs changes?

[2015-11-20 15:44] ddcdennisb commented on #29
I have.

[2015-11-23 22:24] macmule commented on #29
hmm.. i've been having a poke around, shouldn't the key be: pwPolicyURLButtonTitle

Where did you see pwPolicyButtonTitle?

[2015-11-23 22:44] macmule commented on #8
T-Short, do you manage keychains via ADPM too?

I'm thinking of maybe adding a "Check Keychain" item to the drop down if enabled

[2015-11-23 22:45] ddcdennisb commented on #29
https://yourmacguy.wordpress.com/adpassmon/https://yourmacguy.wordpress.com/adpassmon/  under the section
 called password policy reminder

~DB

From: macmule [notifications@github.com]
Sent: Monday, November 23, 2015 17:24
To: macmule/ADPassMon
Cc: Dennis Browning
Subject: Re: [ADPassMon] pwPolicyButton (#29)

hmm.. i've been having a poke around, shouldn't the key be: pwPolicyURLButtonTitle
Wher

[2015-11-23 22:46] macmule opened #30 "Increment build number, per build"
Pinched from AutoDMG & added to AutoCasperNBI, add to build phase:

Helps when testing & people are compiling own versions:

[code]

[2015-11-23 22:56] macmule commented on #29
Ah.. https://github.com/macmule/ADPassMon/wiki/Customization#password-policy-reminder there too.. ok.. i might have stomped all over it when merging

[2015-11-23 23:05] macmule commented on #30
Added to build phase in 2.20.11 branch

[2015-11-23 23:07] macmule commented on #29
Can you please try: https://github.com/macmule/ADPassMon/releases/tag/122

It's a pre-release build, but think I've added it back in.

[2015-11-23 23:08] macmule commented on #28
Thanks! Added to 2.20.11 pre-release, will check off some other things & once reviewed release.

[2015-11-23 23:08] #28 closed, assigned to macmule

[2015-11-23 23:12] macmule commented on #27
I'm guessing this is the same issue I have seen.

ADPM was not re-checking expiration post launch if on launch the domain was not reachable.

Changed the startmeup, passexpires & moved domaintest to intervaldomaintest with the login from the startmeup function being moved to those last 2 functions.

End result? ADPM should now check for password on an interval & will update expiration etc when bac

[2015-11-23 23:23] macmule commented on #27
Example log post changes:

23/11/2015 23:14:21.746 ADPassMon[60865]: Domain not reachable.
23/11/2015 23:19:21.958 ADPassMon[60865]: Domain reachable.
23/11/2015 23:19:21.959 ADPassMon[60865]: Testing if password can expire…
23/11/2015 23:19:22.369 ADPassMon[60865]:   Password does expire.
23/11/2015 23:19:22.472 ADPassMon[60865]: Domain reachable.
23/11/2015 23:19:22.472 ADPassMon[60865]: Startin

[2015-11-23 23:48] ddcdennisb commented on #29
When I click on Change Password I get no popup windows.

~DB

Dennis Browning
Lead Apple Information Systems Architect

1 Howard St
Burlington, VT 05401
dealertrack.com

p
802.540.7447

f
802.540.7447

m
802.734.5248

dealertrack technologies®

Confidentiality Notice: This e-mail and any attachments may contain confidential, proprietary information of Dealertrack Technologies. It is intended solel

[2015-11-23 23:50] macmule commented on #29
Suboptimal.

Ok, lemme have another nose tomorrow.

Regards,

Ben.

[2015-11-24 00:22] macmule commented on #29
Oh.

Can you supply a copy of the ADPassMon plist?

Regards,

Ben.

[2015-11-24 01:42] ddcdennisb commented on #29
See attached.

~DB

Dennis Browning
Lead Apple Information Systems Architect

1 Howard St
Burlington, VT 05401
dealertrack.com

p
802.540.7447

f
802.540.7447

m
802.734.5248

dealertrack technologies®

Confidentiality Notice: This e-mail and any attachments may contain confidential, proprietary information of Dealertrack Technologies. It is intended solely for the named recipient(s) listed above

[2015-11-24 07:46] #30 closed, assigned to macmule

[2015-11-24 07:48] macmule commented on #29
Sorry the attachment didn't come through. Can you post it on the issue on Github?

[2015-11-24 07:48] #27 closed, assigned to macmule

[2015-11-24 07:49] T-Short commented on #8
Hm, no, I've only used it in one instance so far and that's where the Local Items issue popped up.

[2015-11-24 08:09] macmule commented on #29
nvm.. Can you please test: https://github.com/macmule/ADPassMon/releases/tag/123

[2015-11-24 08:20] macmule commented on #8
Ok. The local items keychain lock state is not accessible via the "security" command.

I'll look at googles Keychain Minder & see if there is something pinchable.

Regards,

Ben.

[2015-11-24 10:04] macmule commented on #25
Cannot recreate. Hoping that other fixes will mean that this issue will not happen again.

[2015-11-24 10:04] #25 closed, assigned to macmule

[2015-11-24 13:07] ddcdennisb commented on #29
Success!!

~DB

Dennis Browning
Lead Apple Information Systems Architect

1 Howard St
Burlington, VT 05401
dealertrack.com

p
802.540.7447

f
802.540.7447

m
802.734.5248

dealertrack technologies®

Confidentiality Notice: This e-mail and any attachments may contain confidential, proprietary information of Dealertrack Technologies. It is intended solely for the named recipient(s) listed above and

[2015-11-24 14:29] macmule commented on #29
Awesome.. i'll merge & release 2.20.11 shortly

[2015-11-24 14:29] #29 closed, assigned to macmule

[2015-11-24 14:30] macmule commented on #8
Pulled from 2.20.11 to investigate: https://github.com/google/macops/tree/master/keychainminder#how-it-works

Specifically: https://github.com/google/macops/blob/master/keychainminder/Common/Common.m#L70

[2015-11-24 14:30] ddcdennisb commented on #29
Awesome.  Thanks

~DB

Dennis Browning
Lead Apple Information Systems Architect

1 Howard St
Burlington, VT 05401
dealertrack.com

p
802.540.7447

f
802.540.7447

m
802.734.5248

From: macmule notifications@github.com
Reply-To: macmule/ADPassMon reply@reply.github.com
Date: Tuesday, November 24, 2015 at 09:29
To: macmule/ADPassMon ADPassMon@noreply.github.com
Cc: Dennis Browning Dennis.Browning@de

[2015-11-24 16:15] pmbuko opened #32 "intervalDomainTest causes ADPassMon to run too often"
the domain check triggers a process run every 5 minutes, regardless of the expiration check interval setting.

[2015-11-24 16:15] pmbuko commented on #32
working on it.

[2015-11-24 16:18] mattretzer opened #33 "'Change Password' greyed out on first run with deployed plist"
Hello guys, trying this out for our environment.
So far looks good, except when deploying a custom plist (via defaults) for users prior to running the App, on first run the 'Change Password' is greyed out.
The rest of the settings are deploying fine, and if we either relaunch the App, 'Re-check Expiration' or 'Test Settings' then the option becomes available. But I'd rather it be ready to go right

[2015-11-24 16:19] macmule commented on #33
which version?

[2015-11-24 16:19] mattretzer commented on #33
2.20.10

[2015-11-24 16:31] macmule commented on #33
Hey @mattretzer, @pmbuko is pushing 2.20.12 later.. can you try after that?

[2015-11-24 16:33] mattretzer commented on #33
Yes, no problem.  Thanks for the quick response.
Will update this issue with my results:)

[2015-11-24 17:35] pmbuko commented on #32
fixed in latest merge.

[2015-11-24 17:35] #32 closed, assigned to pmbuko

[2015-11-24 18:24] pmbuko commented on #33
2.20.12 is out now.

[2015-11-30 19:11] mattretzer commented on #33
Hi @pmbuko & @macmule,
Unfortunately I am still seeing the same thing with 2.20.12- greyed out ChangePassword option on first run.

[2015-11-30 19:32] pmbuko commented on #33
How are you deploying the defaults values? Also, could you please copy/paste what the Console log shows (filter or ADPassMon) after a first launch?

[2015-11-30 20:57] mattretzer commented on #33
I am deploying those values via defaults write commands (basically
what you see above):
Creating a plist file via defaults write(s) to /tmp, copying the
/tmp/.plist to all user accounts (& user template) and correcting
permissions for the copied .plists.
Am I missing a value?

Here's what the log says:

11/30/15 2:06:04.230 PM ADPassMon[27689]: Running on OS 10.10.x
11/30/15 2:06:04.257 PM ADPassM

[2015-11-30 21:13] pmbuko commented on #33
Everything looks good to me. The Change Password menu item should only be greyed out when ADPassMon can't detect the domain. The log clearly shows "Domain reachable", though. Are these log entries from a launch that resulted in a greyed out menu item?

[2015-11-30 22:08] mattretzer commented on #33
yes, they are fro a launch with a greyed out 'Change password' & 'Refresh
Kerberos'; tested on 10.10 & 10.11, same results.

And once I 'Re-check Expiration' it comes in fine, subsequent launches are
fine too.

I think when I was trying different plist settings I had some where this
was not the case. I'll play with it a little more to see if I can help pin
it down.

On Mon, Nov 30, 2015 at 4:13 PM

[2015-11-30 22:12] pmbuko commented on #33
One more thing to check. Before launching for the first time, but after applying defaults, as the user, run `defaults read org.pmbuko.ADPassMon`. Save the output, then launch ADPassMon and do Re-check Expirtation. Run the `defaults read` command again and compare the output.

[2015-11-30 23:34] dire-alpaca opened #35 "Issue with Disabling Password Changes"
Hi there,

I was testing ADPassMon and noticed something odd.

When setting this plist item (allowPasswordChange):
<code>defaults write org.pmbuko.ADPassMon allowPasswordChange -bool false</code>

Which should:

I found that I can still click and select Change Password from the menu and ADPassMon will show me the password policy and then (depending on setting) will either bring up system preferenc

[2015-11-30 23:48] pmbuko commented on #35
Thanks for letting us know. Are you using release 2.20.12?

[2015-11-30 23:50] dire-alpaca commented on #35
Yes, I was testing using 2.20.12.

Thanks!

[2015-12-03 23:44] pboushy opened #36 "Keychain First Aid disappearing in future versions of OS X"
I've been told by some sources that Keychain Access's Keychain First Aid functionality is disappearing in future versions of OS X. Potentially as early as 10.11.2 since it's broken in 10.11.1...

Will this have an impact on ADPassMon's ability to fix the keychain password?

[2015-12-03 23:50] pmbuko commented on #36
This should not affect us since ADPassMon doesn't use it.

[2015-12-06 16:16] macmule commented on #36
Agreed with @pmbuko.

Closing off, but @prbsparx thanks for the warning.

[2015-12-06 16:16] #36 closed, assigned to nobody

[2015-12-06 16:17] macmule commented on #35
@an-alpaca Thanks.. I'll have a look at this this week

[2015-12-06 16:18] macmule commented on #33
@mattretzer have you tried setting things via a profile? Also, I guess ADPassMon is being launched whilst these changes are being made?

[2015-12-06 16:20] macmule commented on #8
Repo has been moved: https://github.com/google/macops-keychainminder/blob/c694904ed1ec37221c3d3450f831dd2ba1e753f3/KeychainMinderGUI/PasswordKnownView.m#L21

[2015-12-10 15:59] w4774 opened #37 "Remaining days until Password change turning negative"
Hey,
I've been using your helpfull tool for some time now, but it seems to have a little problem.
About 50% of the time, the remaining days until I need to change my password are displayed in the negative, bot in the status bar and the adpassmon notifications.
I mean, it's still kinda correct....
It displays the remaining time as "-163 days", our passworld policy requires the password to be change

[2015-12-10 16:04] pmbuko commented on #37
Next time you see this happen, can you open Console.app, add "adpassmon" to the search filter and copy/paste the last group of log entries here? Feel free to redact any IP addresses or domain names.

[2015-12-11 08:49] w4774 commented on #37
it happened again this morning, here is a screen of the log:
http://i.imgur.com/6MWhrib.png

If I click "Re-Check expiration", sometimes it pulls the correct date and the expiration days got changed to "15d", see the log for that:
http://i.imgur.com/Zc6EYdc.png

[2015-12-11 11:23] jardhug commented on #37
i had a similar problem, unbinding and rebinding the mac fixed it for me.

[2015-12-11 13:01] pmbuko commented on #37
Thanks for this. I see that when it works properly, it is using the "msDS method" to get the password age. When it doesn't work it is using the "alt method".

I would try unbinding and rebinding as suggested. You could be experiencing an intermittent domain problem, or one of your domain servers may be configured slightly differently than the others.

-- Peter (from phone)

[2015-12-11 13:59] pmbuko commented on #37
Here are some more details on how ADPassMon chooses which method (msDS or alt) to use. It first tries this command:

`dscl localhost read /Search/Users/$USER & " msDS-UserPasswordExpiryTimeComputed`

If that comes back with a match, then the 'msDS' method is used. This is the faster, more accurate method. If the command comes back with no match, then the 'alt' method is used.

This is why I suspec

[2015-12-11 19:29] sp4rker opened #38 "Password date should be less than 365 on [Auto] and when setting [Manual] = 90 receiving -40"
Reset and performed action auto and then manual 90
12/11/15 11:19:15.008 AM ADPassMon[1971]: **\* -[ADPassMonAppDelegate revertDefaults:]: 2015-12-11 11:19:15.006 defaults[2629:47744]
Domain (org.pmbuko.ADPassMon) not found.
Defaults have not been changed. (error 1)
12/11/15 11:25:47.674 AM ADPassMon[1971]: selectedMethod: 90
12/11/15 11:25:47.724 AM ADPassMon[1971]: Domain reachable.
12/11/15 11:

[2015-12-11 19:34] pmbuko commented on #38
Just to confirm, are you using the latest release, 2.20.12?

[2015-12-11 21:20] sp4rker commented on #38
Yes, just downloaded to day, thanks for responding so quickly

[2015-12-11 21:26] pmbuko commented on #38
Can you try running these script and compare their outputs?
https://gist.github.com/pmbuko/0f8c6904def80cbb1265
https://gist.github.com/pmbuko/132bfd7b45c806d84bab

[2015-12-12 00:10] sp4rker commented on #38
Username:        xxxxx
Expiration date: Wed Sep 13 18:48:05 PST 30828
Number of days:  10523644

Wed Sep 13 18:48:05 PST 30828

[2015-12-14 18:49] sp4rker commented on #38
So anything I can do to make it not think my password update should occur in the past?

12/11/15 11:25:47.815 AM ADPassMon[1971]:   daysUntilExp: -40.11957
12/11/15 11:25:47.816 AM ADPassMon[1971]:   expirationDate: Sunday, November 1, 2015 at 8:33:36 AM

[2015-12-15 12:53] macmule commented on #38
@sp4rker Can you post results from the second script that @pmbuko linked?

[2015-12-15 15:12] pmbuko opened #39 "Non-mobile AD accounts are being detected as local"
via Slack channel:

" i can’t get ADpassMon to start up with an AD account. The log claims it is a local account, so adpassmon quits."

I asked him to run `dscl localhost read /Search/Users/$USER AuthenticationAuthority` and see if the output contains "Active Directory".

He has a non-mobile AD accout and the output was `AuthenticationAuthority: ;Kerberosv5;;kyle@ISB.LOCAL;ISB.LOCAL; ;NetLogon;kyl

[2015-12-15 17:35] sp4rker commented on #38
Username: xxxxx
Expiration date: Wed Sep 13 18:48:05 PST 30828
Number of days: 10523644

Wed Sep 13 18:48:05 PST 30828

[2015-12-15 18:17] pmbuko commented on #38
Hmmm. Something is amiss. The number that the script is getting from AD is probably not in the format it's expecting.

Please try this more verbose script:

https://gist.github.com/pmbuko/433dabd70514fd0bbd52 https://gist.github.com/pmbuko/433dabd70514fd0bbd52

[2015-12-16 23:39] sp4rker commented on #38
Commented out domain info:

No such key: userAccountControl
No such key: SMBPasswordLastSet
(standard_in) 1: parse error
(standard_in) 1: parse error
(standard_in) 1: parse error
myDomain:         xxx.xxx
myLDAP:           2sgpitvwdc03.xxx.xxx.
mySearchBase:     DC=xxx,DC=xxx
uAC:
passExpires:      yes
expireAgeDays:    90
pwdSetDateRaw:
pwdSetDateUnix:
pwdSetDate:
todayUnix:        1450306390
tod

[2015-12-18 12:20] steven-j-klein commented on #37
For me, this problem is very infrequent, but I did see it just now: -87d.

Possibly relevant: I woke my MacBook Pro _before_ plugging in the Ethernet cable.

Using the **Refresh Kerberos Ticket** fixed it for me.  (Apparently this AM my ticket had expired, because when I selected Refresh I saw this: "No Kerberos ticket for Active Directory was found. Do you want to renew it?")

Log entries below:

[2015-12-23 12:33] steven-j-klein opened #40 "A minor cosmetic issues with the Change Password function"
I just used the change password function for the first time. The Old Password, New Password, and Verify Password fields were empty. I filled them out, and it worked as expected.

Immediately afterwards I tried to use it a second time, and the Old Password, New Password, and Verify Password fields were populated with bullets, when they should have been empty.

(I also noticed that the number of bul

[2015-12-23 13:23] steven-j-klein opened #41 "Change Password issue: AD password change failed, but keychain password was changed"
My Preferences are set to Allow password changes, using ADPassMon."

A few minutes ago I used ADPassMon to change my password from **Password1** to **Password2**. Since our AD policy restricts password changes to once every 24 hours, I decided to try to change it again to see how ADPassMon would handle it when our DC rejected the change.

In the _Old Password_ field I entered **Password2**, and in

[2015-12-23 17:26] macmule commented on #41
Thank for this.

I'll have a nose & will see if I can push a fix next week.

[2015-12-23 17:27] macmule commented on #40
Ah. I'll amend it to wipe the values so not seen second run.

The •'s appear via a secure text field, not sure about changing length. But the 1st issue should be easy to fix.

[2015-12-24 00:25] steven-j-klein commented on #41
Thank _you_ for creating a terrific tool! (And for being so quick to respond to error reports like this.)

[2016-01-04 13:38] fridomac commented on #39
Same problem here, if you need more logs or info, please contact me (slack or email)

[2016-01-04 13:48] pmbuko commented on #39
I'm going to push this update today.

[2016-01-04 13:53] pmbuko commented on #39
Please try the 2.20.13 release. https://github.com/macmule/ADPassMon/releases/tag/2.20.13

[2016-01-04 13:53] #39 closed, assigned to pmbuko

[2016-01-07 18:33] sp4rker commented on #38
Any thoughts on this?

[2016-01-18 09:25] MAJ007 opened #43 "Remaining days turning negative after sleep"
More often than not when returning a Mac from Sleep the date remaining until pwd reset will be negative. If you refresh the ticket or wait until the tool does it own interval check it displays the correct count down. Any ideas how to remedy this?

[2016-01-18 15:16] Tranel commented on #43
More or less the same here. After a reboot it shows -14 days and whatever I do it stays there. But that is wrong, means there is something wrong.

[2016-01-19 15:30] MAJ007 commented on #43
@Tranel I think we are having a different issues as ours is fine on reboot and refreshing tickets displays the correct count down.

[2016-01-19 17:23] MAJ007 commented on #43
See below log. For some reason its when ever it reverts to using the alt method it will display the incorrect value:

Jan 19 08:51:50 MACHINENAME ADPassMon[1027]: Domain reachable.
Jan 19 08:51:50 MACHINENAME ADPassMon[1027]: Starting auto process…
Jan 19 08:51:50 MACHINENAME ADPassMon[1027]:   Found expireDateUnix in plist: 1454947910
Jan 19 08:51:50 MACHINENAME ADPassMon[1027]:   Using alt metho

[2016-01-19 17:48] pmbuko commented on #43
The way ADPassMon chooses between the _msDS_ and _alt_ methods is by the output of this command:

`dscl localhost read /Search/Users/$USER msDS-UserPasswordExpiryTimeComputed 2&> /dev/null`

If it sees `msDS-UserPasswordExpiryTimeComputed` in the results then it will use the msDS method. If you have more than one domain server (like most sites) and not all of them return this value, then your issu

[2016-01-20 07:42] Tranel commented on #43
However the issue (for me) was introduced with the latest version of the tool. Until then I really liked it.

[2016-01-20 09:07] MAJ007 commented on #43
@pmbuko I do take that on board that its probably not a bug. But why does this only happen when the machine is woken from being asleep after a couple minutes?

[2016-01-20 19:42] amusser opened #44 "Not working when at home connected to VPN"
We are looking to deploy ADPassMon to our users, however we have many who work from home at times and while testing, I've found that it does not work when connected to VPN.

We run a Cisco VPN and use the built-in Mac client to connect.  When connected to VPN the Refresh Ticket and Change Password options are greyed out.  A look at the log shows "Domain not reachable".  Our domain is reachable as

[2016-01-20 19:55] pmbuko commented on #44
Do you know if your VPN allows split tunnels, or when activated does all network traffic go over the vpn connection?

[2016-01-20 19:58] macmule commented on #44
FWIW, I use Cisco's In-Built VPN client too & have been working from home since October 22nd.

ADPassMon works for me.

[2016-01-20 20:20] amusser commented on #44
Our VPN allows split tunneling

[2016-01-22 22:30] amusser commented on #44
So is split tunneling an issue?

[2016-01-23 02:22] pmbuko commented on #44
Likely yes, but it probably depends on the specifics of your tunnel and routing table.

[2016-01-23 07:54] macmule commented on #44
"The value for myLDAP is being set to my home router instead of the DC"

That really strikes me as odd.

[2016-01-23 11:52] macmule commented on #44
@amusser Were you running the script when having had a kerberos ticket issued?

[2016-01-23 19:04] amusser commented on #44
Yes I am running the script while I have a ticket

[2016-01-23 21:35] macmule commented on #44
@amusser can you try? https://gist.github.com/macmule/a6bbd0d567fec5f2b5d2

It's basically the same thing as what @pmbuko passed you, just horribly written in python.

Only difference is that is will get a list of all ldap servers & if it fails to get a value from one, it'll move to the other.

[2016-01-23 21:52] macmule commented on #38
@sp4rker  can you try? https://gist.github.com/macmule/a6bbd0d567fec5f2b5d2

It's basically the same thing as what @pmbuko passed you, just horribly written in python.

Only difference is that is will get a list of all ldap servers & if it fails to get a value from one, it'll move to the other.

This should return data for the below & not fail. As will try all LDAP servers

No such key: userAccoun

[2016-01-23 21:55] macmule commented on #43
@MAJ007 how long is the mac asleep for for this issue to appear? Is it hours? Maybe the kerberos ticket has expired

@Tranel Could you possibly post a new issue incase it does differ from this? On reboot with a kerberos ticket should be ok

[2016-01-23 21:55] macmule commented on #33
@mattretzer any updates?

[2016-01-24 02:59] amusser commented on #44
Getting the follow error:

Traceback (most recent call last):
  File "./PassMon.py", line 120, in <module>
    for index, item in enumerate(searchBase):
NameError: name 'searchBase' is not defined

[2016-01-24 08:43] macmule commented on #44
Right.

What does the output of: klist --json

Look like?

Regards,

Ben.

[2016-01-24 09:19] macmule commented on #44
@amusser I've updated the gist.. can you try it again please? https://gist.github.com/macmule/a6bbd0d567fec5f2b5d2

[2016-01-24 15:16] amusser commented on #44
ERROR: No LDAP servers found

[2016-01-24 16:38] macmule commented on #44
@amusser One last thing to try (change mycompany.com for your domain):

`dig -t srv _ldap._tcp.mycompany.com +noall +answer`

You should receive:

`;; Truncated, retrying in TCP mode.`
`; <<>> DiG 9.8.3-P1 <<>> -t srv _ldap._tcp.mycompany.com +noall +answer`
`;; global options: +cmd`
`_ldap._tcp.mycompany.com. 600    IN  SRV 0 100 389 dc03.mycompany.com.`
`_ldap._tcp.mycompany.com. 600    IN  SRV

[2016-01-24 17:27] amusser commented on #44
It's not returning anything.  Could this have anything to do with cached credentials?

[2016-01-24 17:43] macmule commented on #44
Nope.

That's more of a network lookup & is completely separate from credentials.

What's happening is that ADPassMon is realising it cannot connect to your domain & as is acting accordingly.

So ADPassMon is working correctly for how your VPN is setup.

As mentioned, similar VPN & the dig command returns LDAP servers for me.

[2016-01-24 17:49] amusser commented on #44
OK.  I'll research this further from my end.  Thanks for all your help.

[2016-01-24 17:55] macmule commented on #44
No problem.

I don't think we process this further & I'll close this issue off in a few.

Regards,

Ben.

[2016-01-25 08:55] Tranel commented on #43
Hi, a reboot does not solve the issue. As long as I am in the company's network I have negative values. The issue startet with version 14. Does it really make sense to post a new issue?

[2016-01-25 09:22] macmule commented on #43
Let me have a look.

I'm worried things are going to get confused though.

Does your log look the same?

Regards,

Ben.

[2016-01-25 09:48] macmule commented on #43
@MAJ007 can you try the following:

`/usr/bin/dscl localhost read /Search/Users/$USER SMBPasswordLastSet | /usr/bin/awk '/LastSet:/{print $2}'`

Do you get multiple results?

Can both @MAJ007 & @Tranel try: https://gist.github.com/macmule/b4dcaa658bc83254029f

Please post results, redacting names as needed. That's a POC for moving ADPassMon to python. I'd be curious to see if it works.

[2016-01-25 10:20] MAJ007 commented on #43
@macmule I get the following:

dscl localhost read /Search/Users/$USER SMBPasswordLastSet | /usr/bin/awk '/LastSet:/{print $2}'
130918196184278585
130918196184278585

[2016-01-25 10:34] macmule commented on #43
@MAJ007 thanks.. can you try the gist?

[2016-01-25 10:37] macmule commented on #43
@MAJ007 FWIW, the above does give an last set date of: Thu, 12 Nov 2015 16:33:38 GMT

(oops.. updated)

[2016-01-25 10:40] MAJ007 commented on #43
@macmule the output I've given you is in a working scenario. I will post again when I suspend the machine for x minutes...

[2016-01-25 10:50] macmule commented on #43
@MAJ007 sure.. I'd be interested in the output of the gist whenever & the below:

`/usr/bin/dscl localhost read /Search/Users/$USER msDS-UserPasswordExpiryTimeComputed`

I'm just trying to break it down.

[2016-01-25 21:52] matt-cahill commented on #35
I'm also seeing the same behaviour on 10.11.3 using 2.20.14 (130)

[2016-01-25 22:01] matt-cahill commented on #26
Might be worth updating the docs to indicate that default prefs can be set at a system level (i.e. /Library/Preferences/org.pmbuko.ADPassMon.plist) rather than at the user level. No need to run a script at login to seed preferences.

Unless this isn't recommended by you of course?

[2016-01-25 22:22] pmbuko commented on #26
We could mention it in the docs, but this is how preferences that respect Apple's domain structure have always worked. The defaults system works hierarchically, so you can set options for all users in /Library/Preferences and (if necessary) per user options in each ~/Library/Preferences directory. Do you want to submit a pull request with that change? :smiley:

[2016-01-25 22:39] matt-cahill commented on #26
Yeah ok, I'll fork and submit something for consideration. Would an example post install script (for Munki or similar) answer the OPs issue?

[2016-01-25 22:56] pmbuko commented on #26
That's a good idea. We could add a deployment scripts area for it.

[2016-01-26 03:22] matt-cahill commented on #35
Setting pwPolicyURLButtonTitle to a value using defaults write restores the functionality. Possibly this issue is similar #45

[2016-01-26 03:44] pmbuko commented on #35
That's good to know. I think we just need to make the disable part more robust.

[2016-01-26 05:07] matt-cahill commented on #35
Seems to be two seperate but intertwined issues.

Firstly I can't find `pwPolicyURLButton` in the code, I think this is just a typo in the docs. Should be `pwPolicyURLButtonTitle`

Secondly if either `pwPolicyURLButtonTitle` or `pwPolicyURLButtonURL` are not set then `pwPolicyUpdateExternal` never gets set in the block starting at [line 1235](https://github.com/macmule/ADPassMon/blob/master/ADPass

[2016-01-26 06:04] matt-cahill commented on #35
I updated the wiki regarding the defaults write for `pwPolicyURLButtonTitle`

[2016-01-26 15:41] mberardinelli opened #46 "Application Signing (Gatekeeper)?"
Hello!
We're looking into deploying this to our staff laptops, however, in testing I noticed that Gatekeeper stops the first-time run since the app is not in the "identified developers" list. I was wondering if there is a possibility of this app being signed in the future to alleviate this issue? We really don't want to disable Gatekeeper for our staff machines.
Thanks!
![screen shot 2016-01-26 at

[2016-01-26 18:05] dire-alpaca commented on #35
![screen shot 2016-01-26 at 9 58 26 am](https://cloud.githubusercontent.com/assets/12103047/12589640/98b5988c-c413-11e5-9216-a295c5f5982e.png)

Just did some further testing and found the prompts seem to work properly now with the different config option `pwPolicyURLButtonTitle`. Thanks @matt-cahill for the code digging!

Settings set:

[code]

I do believe further robustness is require on some of

[2016-01-27 12:42] steven-j-klein opened #48 "Feature Request: Check for Updates"
I've been running a version of ADPM that's several months out of date (v 2.20.10).

I would have downloaded a newer version if I'd been aware that a newer version existed. But I'm not in the habit of visiting [Github](https://github.com/macmule/ADPassMon/releases) just to check for updates.

There are several ways updates could be handled. In order from simplest to most complex:
1. A menu item "Ch

[2016-01-27 12:46] macmule commented on #48
@steven-j-klein I'd prefer using AutoPKG to get the latest.

I'm wary of offering in-app-updates due to potential client side impact.

Sparkle (http://sparkle-project.org) could be used to do the updates, but as I said, I rather have us push things out & instead leave it to the admin to test & rollout.

[2016-01-27 12:47] gmarnin commented on #48
+1 for autopkg. `autopkg search adpassmon`

[2016-01-27 12:47] macmule commented on #46
@mberardinelli how are you planning on rolling this out? We have GateKeeper enabled & deploying via either a custom PKG through Casper or the AutoPKG recipe we do not have those prompts.

It only happens with manual downloads.

[2016-01-27 13:04] grahamgilbert commented on #48
I would rather my users _didn't_ know about updates. As an admin, it's my responsibility to deploy updates, not theirs. So, another +1 for autopkg.

[2016-01-27 13:11] mberardinelli commented on #46
We’re hoping to deploy via ARD to specific staff machines, so a PKG would be ideal actually. Is there one available for download somewhere?

Thanks,

Matt Berardinelli
Computer Technician
Berlin Public Schools IT Dept.
mberardinelli@berlinschools.org mailto:mberardinelli@berlinschools.org
Phone: (860) 828-6577 x2311

Log a Help Desk Ticket http://helpdesk.berlinschools.org/ (In-District Only)

[2016-01-27 13:22] macmule commented on #46
@mberardinelli There's one via AutoPKG, else you could make your own.

I'm not certain if ARD installed stops the prompts, have you tried?

[2016-01-27 13:31] mberardinelli commented on #46
If I copy the .app over via ARD or otherwise, I get the prompt on first launch.

Matt Berardinelli
Computer Technician
Berlin Public Schools IT Dept.
mberardinelli@berlinschools.org mailto:mberardinelli@berlinschools.org
Phone: (860) 828-6577 x2311

Log a Help Desk Ticket http://helpdesk.berlinschools.org/ (In-District Only)

[2016-01-28 04:48] matt-cahill opened #49 "Network account detection matches local accounts with AD counterpart"
Not sure if this is intended behaviour or not but the test for a network account will match a local account that has the same username as a user in AD. This means ADPassMon will run even in the `runIfLocal` preference is false when this happens.

As far as I understand it I think that ADPassMon should work like this

Network and Mobile accounts => Always run
Local account with AD counterpart => On

[2016-01-28 12:42] steven-j-klein commented on #48
@grahamgilbert: Yes, as admins, it's our responsibility to deploy updates.

But we're not psychic —we still need to be made aware of updates.

I could manually check for updates, but given the amount of computing power I have at my fingertips, it seems silly to _not_ automate at least part of the process.

I'd be happy to subscribe to a mailing list that notified me of updates. I suppose I could s

[2016-01-28 13:01] pmbuko commented on #48
This is precisely what [AutoPKG](https://github.com/autopkg/autopkg) does for you.

[2016-01-28 18:28] pmbuko commented on #49
You are correct. That is the way it should work, but a recent change made it so the second case -- local account with AD counterpart -- would always be detected as network-based. I'm working on the fix now.

[2016-01-28 19:01] pmbuko commented on #49
Please download the latest (pre-)release: https://github.com/macmule/ADPassMon/releases/tag/2.20.16 and let me know if it resolves your issue.

[2016-01-28 19:46] matt-cahill commented on #49
Will do Peter, thanks!

[2016-01-29 01:14] matt-cahill commented on #49
Using `/usr/bin/id` gets closer but leaves 2 bugs

Local accounts that have a matching AD account get detected as local accounts now but setting `runIfLocal` to true still enables local accounts that are local only.

Mobile accounts don't get detected when the are off the network. Well, more specifically the group membership data only seems to be cached for the length of the kerberos ticket and do

[2016-01-29 01:29] pmbuko commented on #49
Thanks for testing, Matt. I had a feeling I was making too many assumptions, hence the pre-release. I'll continue in this direction and add a secondary test.

-- Peter (from phone)

[2016-01-29 11:56] richmac25 commented on #43
@macmule Im working with @MAJ007 here are the requested outputs while i was seeing a negative number. Ive changed any corp info so please disregard names and IP's.

MACHINENAME:~ user$ dscl localhost read /Search/Users/user SMBPasswordLastSet | /usr/bin/awk '/LastSet:/{print $2}'
130916455107526807
130916455107526807

MACHINENAME:~ user$ /usr/bin/dscl localhost read /Search/Users/user msDS-UserPas

[2016-02-03 23:08] unsoluble opened #51 "Use without AD?"
We're not in an AD environment here (OD-only), but this tool looks like it might be the best way to fix the rampant locked-local-items-keychain thing for our users. The app doesn't appear to do anything on launch for me (under 10.11.3) — nothing shows up in the menubar, anyway. Does it not work at all if it doesn't detect an AD account?

If that's the case, is there any way to use the keychain-fix

[2016-02-04 09:56] jardhug commented on #51
haven't used it myself but you could try Keychain Minder?

https://github.com/google/macops-keychainminder

[2016-02-04 15:50] unsoluble commented on #51
Hmm! Maybe? Unclear whether it'll address the locked Local Items keychain or not, but I'll dig into it a bit, thanks.

What'd really be best in our context (middle school) is a script that can simply be run against (or from within) a user's account when necessary, as opposed to a thing that's monitoring constantly. Might try to pull the relevant bits from the ADPassMon source into something standa

[2016-02-05 14:54] richmac25 commented on #43
@macmule just wondering if this helped at all?

[2016-02-13 03:47] pboushy commented on #26
@macmule If you have the LaunchDaemon, LaunchAgent, and an example plist, I can create a shell script that will create a custom pkg for it including clean install vs upgrade that could be used temporarily until there's time for an admin app.

[2016-02-19 09:29] macmule commented on #51
@unsoluble That will update the local items keychain & will be able to check if locked I believe.

Their method is somethingI hope to add at some point to this app.

[2016-02-20 20:53] macmule commented on #49
Merged with master, will release soon.

[2016-02-20 20:56] macmule commented on #33
@mattretzer the writing out plist & copying will not work with CFPrefsd, so either a profile or a defaults read on the plist afterwards (as @pmbuko) mentions should resolve.

I'm putting this down as "wontfix" for now, as it's more of an OS/deployment issue, please can you advise if anything we've mentioned has worked?

We'll then close the issue off, or I'll close it sometime in March.

[2016-02-20 20:57] macmule commented on #35
Merged, will be in next release.

[2016-02-20 21:01] macmule commented on #51
Added, "wontfix" label for now & leaving open for visibility.

OD & non-bound is something I'd like to add, but those will be after moving ADPassMon to python.

[2016-02-20 21:02] macmule commented on #48
Closing this off as we're not looking at adding this.

[2016-02-20 21:02] #48 closed, assigned to macmule

[2016-02-20 21:03] macmule commented on #46
@mberardinelli One last thing to do would be sign it yourself.

I may add signing in the future, but might be a few months away.

[2016-02-20 21:04] #49 closed, assigned to macmule

[2016-02-20 21:05] #35 closed, assigned to macmule

[2016-02-20 21:06] unsoluble commented on #51
Sounds good. Thanks!

[2016-02-20 21:07] macmule commented on #26
This is our current LaunchAgent:

[code]

So you'll need to change the path for the apps location.

[2016-02-20 21:10] macmule commented on #38
@sp4rker any update?

[2016-02-20 21:10] macmule commented on #40
Added @avatharian's PR to master branch. Will be in next release.

[2016-02-20 21:10] #40 closed, assigned to macmule

[2016-02-20 21:24] macmule commented on #43
@richmac25 Ish, as it's from sleep.. I wonder if ADPassMon is reverting to the plist.

Can you or @MAJ007 try the below when it next happens, & advise if this might be where the minus date is coming from.

[code]

[2016-02-20 21:27] macmule commented on #37
I think this is related to: https://github.com/macmule/ADPassMon/issues/43

@w4774 anything new to report?

[2016-02-20 21:36] macmule commented on #41
Change the below from line 1082:

[code]

to:

[code]

Simply moving updateKeychainPassword_(me) till only being ran when a successful password change is made.

[2016-02-20 21:41] macmule commented on #41
@steven-j-klein Please test https://github.com/macmule/ADPassMon/releases/tag/2.20.17

[2016-02-27 16:02] macmule commented on #43
@richmac25 & @MAJ007 Please test the latest release: https://github.com/macmule/ADPassMon/releases/tag/2.20.18

I've changed it so ADPassMon updates the plist when it calculates expiry via ldapsearch too (previously it was just msDS).

When "offline" ADPassMon reads the value from the plist.. So i think what was happening was that ADPassMon was not updating the plist, & when waking from sleep it w

[2016-02-27 16:03] macmule commented on #38
@sp4rker Please test the latest release (2.20.18).

[2016-02-27 16:03] macmule commented on #37
@w4774 Please test the latest release: https://github.com/macmule/ADPassMon/releases/tag/2.20.18

I've changed it so ADPassMon updates the plist when it calculates expiry via ldapsearch too (previously it was just msDS).

When "offline" ADPassMon reads the value from the plist.. So i think what was happening was that ADPassMon was not updating the plist, & when waking from sleep it was seeing the

[2016-02-27 16:04] macmule commented on #41
2.20.18 released with the above solution in it.

[2016-02-27 16:04] #41 closed, assigned to macmule

[2016-02-28 19:14] macmule commented on #46
I'm going to re-open this, as with my new job I'll have to get a new developer cert for macmule so will revisit it then.

[2016-02-28 19:16] macmule commented on #26
I'll add something to the wiki, think that will be a decent middle ground for this.

[2016-02-28 22:32] macmule commented on #26
@ScarabMonkey, @prbsparx, @matt-cahill, Does this help? https://github.com/macmule/ADPassMon/wiki/Deployment#deploying-adpassmon

[2016-02-28 22:32] macmule commented on #46
@mberardinelli, does this help? https://github.com/macmule/ADPassMon/wiki/Deployment#gatekeeper

[2016-02-29 10:27] richmac25 commented on #43
@macmule Thanks, we will test and come back to you.

[2016-03-02 21:40] macmule opened #54 "Script Error: Failed conversion"
from #adpassmon on macadmins.org slack

[code]

[2016-03-02 21:43] macmule commented on #54
In 2.20.19

[2016-03-02 21:43] #54 closed, assigned to macmule

[2016-03-09 17:05] sheagcraig opened #55 "SyncLoginPassword preference does not work (in El Cap?)"
In testing, I cannot for the life of me get the
`defaults write com.apple.keychainaccess SyncLoginPassword -bool false` to prevent the keychain sync dialog from appearing at the loginwindow.

I've tried manually running (ensuring that the preference is correctly set in my user's preferences) as well as automated it with an outset login-once script performing the defaults write.

I'm running 10.11.

[2016-03-10 19:40] SillySalamander opened #56 "Bring to front on login"
ADpassmon assists in fixing and extremely annoying problem where the local items keychain does not update sometimes when a user updates their password. Our passwords expire every 2 months so you can imagine how annoying that gets.

When the issue occurs for one of our users they will login, see the osx notification that the keychain cannot be unlocked, and then they usually end up saying "continue

[2016-03-10 19:41] SillySalamander commented on #56
<img width="688" alt="screen shot 2016-03-10 at 11 40 39 am" src="https://cloud.githubusercontent.com/assets/10839110/13682041/f5680146-e6b4-11e5-8b45-4185cd0dbb6b.png">

[2016-03-11 12:09] croaker-1 commented on #55
Coincidentally, I have spent the last 2 days struggling with the same issue. I ended up writing a Launch Agent that would reliable set that preference to `true` (even after it is changed to `false` by Keychain Access while manually changing the keychain password) only to discover that it didn't matter...the dialog pops up every time.

After some research, my suspicion is this behavior was changed

[2016-03-11 15:32] sheagcraig commented on #55
Hmmm. Yeah, I was aware of the "synthetic keychain clicks" issue, but it didn't occur to me that it would also apply to the loginwindow keychain sync dialog. That would be a bummer if (which they almost certainly did) remove that preference. They could have at least taken the opportunity to improve the wording on it!

[2016-03-11 17:05] macmule commented on #55
Bugger.

I added that to the wiki as have been using it for years.

Sadly not deploying 10.11 yet. :(

Hmm.

[2016-03-13 11:25] macmule commented on #56
@SillySalamander yep. I'm not 100% sure how best to deal with that unless ADPassMon becomes an auth plugin like https://github.com/google/macops-keychainminder.

I'll keep looking however.

[2016-03-13 21:16] macmule commented on #56
Maybe: http://macscripter.net/viewtopic.php?pid=183387#p183387

(Adding to issue for testing)

[2016-03-16 20:26] SillySalamander commented on #56
hey this is great thanks a ton I'll try them out and report back

[2016-03-17 18:41] homebysix opened #57 "Unnecessary executables in app bundle"
There are three files in the ADPassMon bundle that have executable permission, but don't require such permission. Here are the files, as reported by RB App Checker:

![screen shot 2016-03-17 at 11 36 33 am](https://cloud.githubusercontent.com/assets/7801391/13857022/315f3b1c-ec35-11e5-87ee-87b813e2917d.png)

[2016-03-24 10:52] macmule commented on #44
Reopening as @bp on slack is seeing the same.

Looks like domain lookup failing as dig result does not contain an answer section, but an authority section.

[2016-03-24 11:29] macmule commented on #44
[code]

Example from @bp

What ADPassMon expects:

[code]

[2016-04-01 17:47] supra2nr commented on #43
@macmule Ive got a weird issue with one machine here... I can log in and it shows the correct number of days... When my boss logs in on the same machine, he gets -16883 days (expiration of 1970)... Our accounts were made the same way by the same administrator.  Any idea of what is causing this?

[2016-04-01 17:49] stevemillermac commented on #43
@supra2nr does this happen to him on multiple macs? If so, check his AD account. We've seen that when the account doesn't expire the password.

[2016-04-01 18:12] supra2nr commented on #43
i just grabbed my macbook pro and logged in as him - it must be something in his profile then, because it is showing -18k+ days on my mac too... Our corporate policy is 60 days password expiration, so I will have to look into it.  Thanks for the response!

[2016-04-04 11:58] steven-j-klein opened #58 "Not an ADPM issue, but an issue inspired by ADPM"
_If this is the wrong place to make this request, please point me in the appropriate direction._

**Short version:**
I know that ADPassMon is a Mac-only app, but is there a similar Windows utility? An app that can display (in the systray) days until password expiration?

**Long version:**
My windows users have noticed Mac users have this lovely tool in their menubar to show them when their passwor

[2016-04-05 11:23] entusdictus opened #59 "Can’t make «class ocid» id «data optr00000000904D70F1EF7F0000» into type integer. (error -1700)"
ADPassMon 2.20.19 launches only once per user on multiple machines. First launch is all okay, the second launch produces the following error in console:

05.04.16 13:18:44,455 ADPassMon[13480]: **\* -[ADPassMonAppDelegate applicationWillFinishLaunching:]: Can’t make «class ocid» id «data optr00000000904D70F1EF7F0000» into type integer. (error -1700)

[2016-04-05 11:40] macmule commented on #59
Odd.

What OS's?

Anything else in the logs?

How was the app packaged & deployed?

[2016-04-05 11:40] entusdictus commented on #59
I found the reason for this issue. ADPassMon 2.20.19 seems to corrupt the org.pmbuko.adpassmon.plist.
The key expireDateUnix is incorrectly formatted.
<key>expireDateUnix</key>
<string>1,4608736</string>

when you remove the "," from the string, ADPassMon will work again.

[2016-04-05 11:41] entusdictus commented on #59
OS is 10.11.4, app was packaged with Composer and deployed with the JSS.

[2016-04-05 13:20] macmule commented on #59
@entusdictus odd.. What language is the OS running when this happens?

[2016-04-05 13:25] entusdictus commented on #59
This OS is running in German.

[2016-04-08 09:59] MaxFrames opened #61 "Works erratically (or is it me?)"
I'm trying to use the application on a domain-joined iMac running OSX 10.9.5.
Logged on as a domain user (which is also an admin on the iMac) I've downloaded the latest version, put it in the Applications directory and launched it from there. It went through a first run configuration, and it installed itself in the menu bar as supposed to.
At this point I've logged off and logged on as a different

[2016-04-11 15:48] monaronyc opened #62 "eDSRecordNotFound (Error 56)"
Hi Group!

Getting this weird string in Console when launching version 2.20.19 on some but not all of our folks. Worked in version 2.20.15. Here's the string:

4:42:21 PM ADPassMon: **\* -[ADPassMonAppDelegate applicationWillFinishLaunching:]: <dscl_cmd> DS Error: -14136 (eDSRecordNotFound) (error56)

Any thoughts? THANKS!

[2016-04-12 21:09] macmule commented on #62
Hmm.

Can you rebind a client that's seeing the error & see if that helps?

[2016-04-12 21:12] macmule commented on #61
Hmm. Odd.

Does the standard users password expire? Anything in the logs? (System.log look for ADPassMon).

[2016-04-12 21:13] macmule commented on #59
Bugger.

AppleScript is pseudo American English. So I think it's having issues with the German localisation.

I'll have a play & will put an update out.

[2016-04-12 21:14] macmule commented on #43
Can you post some of ADPassMon's logs? (System.log, look for ADPassMon).

We might be able to put together what's up.

[2016-04-13 06:58] MaxFrames commented on #61
I've repeated the test again: logged on as a domain user (whose password does not expire), installed ADPassMon from scratch, verified it was working (shown in the menu bar), logged off, logged on as a domain user account (whose password does expire - 180 days) and verified ADPassMon was running (resource monitor) but now showing in the menu bar.
After doing this, I logged on again as the domain ad

[2016-04-13 12:24] monaronyc commented on #62
I tried that. Tried it one more time on another machine just to be sure. Same problem. Same error too. Does the fact that maybe these folks have spaces between their AD login names?

[2016-04-14 07:46] MaxFrames commented on #61
By applying the suggestion in thread #59 (removing the dot from the expire date field) I've been able to make AdPassMon appear on the menu bar of the users.
I can confirm the problem lies there because the app worked out of the box for all the users whose passwords did not expire (no problems with the expire date format).

[2016-04-19 16:19] #26 closed, assigned to macmule

[2016-04-19 19:56] waisanen opened #63 "Forcing manual mode when there's no password expiry"
We have a non-standard setup that I've been trying to configure ADPassMon around.  We have an identity management system that handles all password changes and expiry and pushes this down to all affected systems, including Active Directory.

Password expiry itself is not set on the AD side.  So, it seems your code is doing a check in AD for password expiry, sees it's not set, then skips/ignores the

[2016-04-19 20:03] macmule commented on #63
@waisanen, correct. Currently ADPassMon checks AD.

I'm working on a different version of ADPassMon, just wondering how/where the Mac client would see the expiry for your org?

[2016-04-19 20:24] waisanen commented on #63
The practice in our org is the client doesn't see the expiry at all (the flag is not set in AD).  Identity management emails the end-user several nags that their password is about to expire, then pushes down a randomized password to all linked accounts if they fail to change it.

However, it does appear the maxPwdAge is published so a little quick math between that and when the password was last s

[2016-04-20 17:58] monaronyc commented on #62
Just tried this on a new user. At first launch in console we get:
1:44:20 PM ADPassMon: Running on 0S 10.11.x
1:44:20 PM ADPassMon: Something went wrong, can't find the current user in any directory service.
1:44:20 PM ADPassMon:   Stopping.

I wonder if it has anything to do with the fact these users have spaces between their names.

[2016-05-02 14:56] monaronyc opened #64 "10 Million?"
What's up Group! Not sure what happened but all of the sudden, i have folks who's expiration number is in the tens of millions. 10523501d to be exact on one! Got the log for this. Wondering if you can see something:

4/27/16 2:41:14.583 PM ADPassMon[17138]: Running on OS 10.11.x
4/27/16 2:41:14.685 PM ADPassMon[17138]: Running under a locally cached network account.
4/27/16 2:41:14.692 PM ADPassMo

[2016-05-06 20:52] thesling1 opened #65 "AdPassMon - Built in Password change Issue -"
Hello,

I am very impressed by this tool.  Being able to advise users of there pending password change is golden.

OSX El Capitan 10.11.3

I am hoping to be able to utilize tools built in password dialog box which apparently will update the keychain.  However it is not working.  I get a message that states:

Password change failed.  Please try again.
In system logs I see:
ADPassMon[334] All passwo

[2016-05-11 02:42] pboushy opened #66 "Make preference items greyed out if managed via profile or MCX"
It would be helpful to either grey out, or hide a preference in the Preferences window if the preference is enforced by Profiles or MCX.

[2016-05-11 17:23] MacDogbert opened #67 "Negative password expiration if unable to connect to Domain Controller"
Really like this tool, thanks for all of your work on it.

This issue is present when DNS resolves the Domain Controllers successfully, but the machine (and therefore the app) is unable to connect to them. It looks like the check for domain connectivity uses dig to see if there are DCs in DNS, but doesn't confirm connectivity.

Use case: An environment where DNS resolves the DCs, but doesn't allow

[2016-05-11 17:51] macmule commented on #67
Ah.. I've been working with some folks on Slack with similar issues.

When on wifi, what does this give:

[code]

[2016-05-11 18:25] thesling1 commented on #65
I tried on another mac... this time the password change tool presented no error.

However... there was no change to the password.

[2016-05-11 18:26] macmule commented on #67
Also, out of curiosity.. can you try the below on wifi & on ethernet?

[code]

[2016-05-11 20:05] MacDogbert commented on #67
Thanks Ben.

On WiFi (after running "Re-check Expiration" from menubar icon):
(I tweaked this a bit to get it to run:)

[code]

python script:
On LAN:

[code]

On WiFi:

I ran into errors on WiFi...not sure if there is something I can tweak to get this to work or if the script needs to contact a DC:

[code]

[2016-05-11 20:27] macmule commented on #67
Ok.. this is great.

What does this bring back on Wifi & on LAN?

`/usr/bin/dscl localhost read /Search/Users/"$USER" SMBPasswordLastSet | /usr/bin/awk '/LastSet:/{print $2}'`

[2016-05-11 20:42] macmule commented on #67
[ADPassMon.zip](https://github.com/macmule/ADPassMon/files/260207/ADPassMon.zip)

Can you try ^^?

[2016-05-12 06:54] macmule commented on #64
Hmm.. sounds like your expiry might be being set via Group Policy or something. (i.e. something ADPassMon is not able to detect)..

Did you try manual mode? https://github.com/macmule/ADPassMon/wiki#auto-or-manual-mode

[2016-05-12 06:55] macmule commented on #66
@prbsparx Why not lock out the preference window? https://github.com/macmule/ADPassMon/wiki/Customization#lock-out-the-preferences-window

[2016-05-12 06:58] macmule commented on #65
Can you try this on one of those Macs?

`dscl . -passwd /Users/$USER oldPassword newPassword`

replacing oldPassword & newPassword as needed.

[2016-05-12 12:26] MacDogbert commented on #67
On LAN:

[code]

On WiFi:

[code]

New version (2.20.20) -- This **new version has resolved this issue**, the expiration is remaining correct regardless of connectivity. Thank you Ben, let me know if you need any more data.

Logs and plist values from new version below.

LAN:

[code]

WiFi:

[code]

(I don't know my GitHub etiquette so I'm just going to click "Comment" instead of "Close and commen

[2016-05-12 12:35] macmule commented on #67
Great.

This was a hack around the issue to help isolate the cause.

I commented out two functions & used the "offlineUpdate" instead:

[code]

I'll need to review to see if this is ideal going forward.

[2016-05-12 14:02] thesling1 commented on #65
Thank you.

Can you advise what this does?  Or is this a test?

From: macmule [mailto:notifications@github.com]
Sent: 2016/05/12 2:58 AM
To: macmule/ADPassMon
Cc: Heslington, Tony; Author
Subject: Re: [macmule/ADPassMon] AdPassMon - Built in Password change Issue - (#65)

Can you try this on one of those Macs?

dscl . -passwd /Users/$USER oldPassword newPassword

replacing oldPassword & newPasswor

[2016-05-12 14:04] pboushy commented on #66
The difference is enforcing a single preference item. For instance, I might want to set the password expiration refresh to 12 hours and not allow the end user to change that, but I do want them to be able to enable notifications and set how far ahead it notifies them.
I was actually going to look into this tonight and chat with the group in Slack about how it could be done and what the best method

[2016-05-12 14:41] macmule commented on #65
Hi @thesling1,

It what ADPassMon does to change the password & is a test.

[2016-05-16 07:09] macmule commented on #37
Can you try? https://github.com/macmule/ADPassMon/releases/tag/2.20.20

[2016-05-16 07:10] macmule commented on #43
Can you try: https://github.com/macmule/ADPassMon/releases/tag/2.20.20 ?

[2016-05-16 07:12] macmule commented on #55
@sheagcraig & @croaker-1, did either of you try & set the key via a profile?

[2016-05-16 08:50] MAJ007 commented on #43
Will test and update with findings...

Sent from my iPhone

[2016-05-16 10:25] bjmd opened #68 "Domain password not changing for local user"
Morning All,

I am struggling with an issue. I have setup our infrastructure so that Mac's are bound to the domain but have local accounts (with usernames the same as their AD usernames). This is working well, ADPassMon runs in the foreground one a kerberos ticket has been acquired (KerbMinder manages this) and displays password expiry etc. correctly. I believe this is the recommended way for ADPa

[2016-05-16 10:34] jardhug commented on #68
as far as I'm aware ADPassMon only works with domain accounts not local

[2016-05-16 10:36] macmule commented on #68
@bmillington can you try this on a test Mac:

`dscl . -passwd /Users/$USER oldPassword newPassword`

That is the method used to change password, obvs change oldPassword & newPassword as needed. Oh & should be a test account, as it will try & change the password.

[2016-05-16 10:44] macmule commented on #66
This can be done with CFPrefs:

[code]

with the "CFPreferencesAppValueIsForced" key advising if forced via a profile.

[2016-05-16 10:53] bjmd commented on #68
Thanks Ben, I did follow [this link](https://yourmacguy.wordpress.com/tag/local-account/) to get it working but didn't realise it didn't support changing domain passwords if used in that way.

I have just tried that and it is indeed only changing the password for the local user and not the domain user.

I have also tried

`dscl /Active\ Directory/DOMAIN/All\ Domains/ -passwd /Users/$USER oldPasswo

[2016-05-16 10:56] macmule commented on #68
Ok thanks.

So when I had an AD, I was using a mobile account. So the command changed both.

It might be possible to add both calls to ADPassMon, which would then catch all. I'll need to have a look, but with no AD currently i'll need to ask you to test :)

[2016-05-16 10:58] macmule commented on #65
@thesling1 Please see: https://github.com/macmule/ADPassMon/issues/68#issuecomment-219399304

Are you running ADPassMon under a local account with same username as it's AD counterpart?

[2016-05-16 13:03] bjmd commented on #68
Happy to test for you :)

Just to note, when changing my AD password with dscl as above it only changes my AD one so I guess its going to need to check if its a local account and if so run both dscl commands?

[2016-05-16 14:29] sheagcraig commented on #55
I'm set on this one. I had machines with the profile and standard settings
conflicting that were causing the issue for me.

On Mon, May 16, 2016 at 3:12 AM, macmule notifications@github.com wrote:

[2016-05-19 12:46] kgthenerd commented on #67
<img width="374" alt="screen shot 2016-05-19 at 6 13 06 pm" src="https://cloud.githubusercontent.com/assets/195539/15393946/9251eb92-1ded-11e6-818e-ab7fb869a85d.png">
The password is updated on AD, yet it shows -1d left

[2016-05-19 16:22] MacDogbert commented on #67
@kgthenerd If you are seeing the `-1d` under similar circumstances as described in this issue then I recommend testing the Pre-Release version (2.20.20), it resolves this issue for me.
https://github.com/macmule/ADPassMon/releases

[2016-05-19 16:24] kgthenerd commented on #67
I'm running 2.20.20 (145) atm

[2016-05-19 16:58] macmule commented on #67
@kgthenerd Can you run recheck the expiration then post the log?

[2016-05-19 17:05] kgthenerd commented on #67
19/05/16 10:34:41.142 PM ADPassMon[694]: Domain reachable.
19/05/16 10:34:41.143 PM ADPassMon[694]: Starting auto process…
19/05/16 10:34:41.144 PM ADPassMon[694]:   Found expireDateUnix in plist: 1.463554656E+9
19/05/16 10:34:41.505 PM ADPassMon[694]:   Using alt method
19/05/16 10:34:41.533 PM ADPassMon[694]:   New pwdSetDate (16849.29)
19/05/16 10:34:41.533 PM ADPassMon[694]:   ≥ plist value (1

[2016-05-22 15:00] karlmikaelskar commented on #67
I still have this issue with version 2.20.20

/usr/bin/dscl localhost read /Search/Users/$USERNAME SMBPasswordLastSet | /usr/bin/awk '/LastSet:/{print $2}'

defaults read org.pmbuko.adpassmon

System.log (On wifi, from home, no VPN.)

**Yesterday** this was my state in the plist and menu bar showed the correct date:
defaults read org.pmbuko.adpassmon

[2016-05-23 16:35] apizz commented on #65
I'm having this same issue as well.  I used the tccutil.py tool to programmatically add ADPassMon to the list of apps that have Accessibility control so users aren't prompted for a password to setup at first launch, but I too get the can't change password error.  Redeploying the app without our custom preferences file also produces the same error.

[2016-05-24 14:30] MAJ007 commented on #43
I've been running version 2.20.20 and have not had any issues. So far so good :)

[2016-05-24 14:34] karlmikaelskar commented on #43
Here are some logs from a machine that had the correct date, woke from sleep and had the incorrect date. then connected and now has the correct date.

May 24 15:38:34 CI0011619 spindump[4800]: Saved spin report for ADPassMon version 2.20.20 (145) to /Library/Logs/DiagnosticReports/ADPassMon_2016-05-24-153834_CI0011619.spin
May 24 15:38:39 CI0011619 ADPassMon[629]: Domain test timed out.
May 24 15:

[2016-05-24 14:37] karlmikaelskar commented on #43
And more logs from when the machine wakes up from sleep disconnected from network:

defaults read ~/Library/Preferences/org.pmbuko.ADPassMon.plist
{
    expireDateUnix = 1465482394;
    isBehaviour2Enabled = 1;
    "menu_title" = "-41800d";
    pwdSetDate = "16931.6";
    selectedBehaviour = 2;
    tooltip = "Your password expires\nThu Jun  9 16:26:34 CEST 2016";
}

May 24 16:34:54 CI0011619 ADPas

[2016-05-24 14:40] karlmikaelskar commented on #43
And tried again once connected:
May 24 16:38:33 CI0011619 spindump[4800]: Saved spin report for ADPassMon version 2.20.20 (145) to /Library/Logs/DiagnosticReports/ADPassMon_2016-05-24-163833_CI0011619.spin
May 24 16:38:36 CI0011619 ADPassMon[629]: Domain reachable.
May 24 16:38:36 CI0011619 ADPassMon[629]: Starting auto process…
May 24 16:38:36 CI0011619 ADPassMon[629]:   Found expireDateUnix in p

[2016-05-24 16:30] karlmikaelskar commented on #67
Correction: Negative expiration days are fixed. Negative faulty value is in another issue.

[2016-05-25 08:27] macmule commented on #43
@karlmikaelskar please try the below in script editor:

[code]

[2016-05-25 08:55] macmule commented on #43
As per conversations with @karlmikaelskar on Slack..

the tooltip is correct, just the menu bar dates that are wrong.

[2016-05-25 13:42] jmnugent opened #70 ""Assistive Access" prompt for password comes up on EVERY login - is that normal ?"
Hi.. I'm new to github.. so I may not be doing this right!?
I installed ADPassMon. .and I love it... but the "Assistive Access" popup prompting for my Password.. is happening at EVERY login. Is that normal ? (note:..  I had to set to "Manual" to fix the "10million days" problem).

[2016-05-25 16:04] richmac25 commented on #43
Update - 20.20 is so far so good. I still have to test over VPN which is where i consistently used to get negative values but when in the office and moving between AP's or returning from sleep etc it appears stable.

[2016-05-26 11:27] jardhug commented on #70
not sure if this is it but have you tried this?

https://github.com/macmule/ADPassMon/wiki/Customization#skip-accessibility-check

[2016-05-26 13:39] macmule commented on #43
from @karlmikaelskar on slack:

[2016-05-26 13:58] MAJ007 commented on #43
Disabled all network interfaces, rebooted machine, logged in with mobile AD account, clicked re-check and works as expected...

[2016-05-26 13:59] jmnugent commented on #70
Thanks danprk !... I will try that.. but I guess I assumed the Accessibility-check was a necessary/fundamental component of ADPassMon needed to actually work.

[2016-05-28 02:46] lumaforge commented on #59
Ran into the same localization issue with a Spanish version of OS X and trying to not have it auto-translate the name of the Network Adapter in the System Prefs so it would match what is seen in the 'networksetup' command line program.

[2016-05-31 23:18] apizz commented on #65
Turns out I'm just an idiot testing local mobile accounts that in Active Directory did not have the ability for the user to change the password ... my bad.

[2016-06-01 14:30] bjmd commented on #68
Hi Ben,

I just wondered if you had managed to take a look at this yet?

[2016-06-06 22:06] ekelling commented on #62
I'm having the same issue... spaces in the username.

[2016-06-07 10:48] macmule commented on #70
@danprk Thanks!

@jmnugent did that work?

[2016-06-08 09:24] karlmikaelskar commented on #43
CI0011619:~ root# grep -i adpassmon /var/log/system.log

Jun  8 10:48:47 CI0011619 ADPassMon[36292]: Running on OS 10.10.x

Jun  8 10:48:48 CI0011619 ADPassMon[36292]: Running under a locally cached network account.

Jun  8 10:48:48 CI0011619 ADPassMon[36292]: ADPassMon password method selected

Jun  8 10:48:51 CI0011619 ADPassMon[36292]: Domain test timed out.

Jun  8 10:53:54 CI0011619 ADPassMon

[2016-06-16 19:55] smashism commented on #37
Hi @macmule, I know we've had a similar conversation elsewhere, but in our environment the date is always negative.

results of `defaults read ~/Library/Preferences/org.pmbuko.ADPassMon.plist`:

`accTest = 0;
enableKeychainLockCheck = 1;
expireDateUnix = 1462826303;
"first_run" = 0;
isBehaviour2Enabled = 0;
"menu_title" = "-37d";
pwdSetDate = "16930.86";
selectedBehaviour = 1;
tooltip = "Your pass

[2016-06-17 07:14] macmule commented on #37
@smashism can you post some logs?

[2016-06-23 14:02] martinb-1995 opened #71 "Unable to reset password"
I'm testing AdPassMon on a Macbook Pro to see how it can be integrated within the existing Active Directory system that I'm currently using.

First I bound the machine to the AD system, I then created a test account in AD for testing purposes, logged in to the test machine (created a mobile account) when prompted. But when I try to change the password (using the AdPassMon interface); the following

[2016-06-23 18:30] apizz commented on #71
I had a similar issue, but it was because the test account I was using had 1) password never expires and 2) user cannot change password.  Are either of these settings enabled for the AD account you're using?

Also, if the user is not an admin account on the machine you won't see the prompt to add ADPassMon to the list of apps that can control Accessibility.

[2016-06-24 15:52] martinb-1995 commented on #71
Thanks for the reply apizz,

No, neither of those settings are enabled on the AD account and the user isn't an Administrator.

[2016-06-27 06:06] mariuslangz commented on #71
Did you try to change the password the same day as you created the test account?
I've done the same thing before, and found that the "minimum password age" policy was set to 1 day which meant I had to wait 24 hours from initially creating the account to being able to change it as the actual user.
Admins which can reset passwords on behalf of users directly in AD will not be stopped by this policy.

[2016-07-02 13:53] kdbo commented on #67
I  still have the same issue with the latest version and with AD reachable.
WIFI -> IPSec VPN
Haven't tried LAN yet.

![screen shot 2016-07-02 at 15](https://cloud.githubusercontent.com/assets/5040711/16540695/9e22b0ee-406d-11e6-9aa1-484d6323a05c.png)

[2016-07-07 18:19] monaronyc commented on #62
Would it be possible to address the problem with folks who have spaces between their AD login names? Had another one today we couldn't set up.

[2016-07-08 15:19] tommywo commented on #59
I have the same issue on English OSX 10.11.5. Breaking change was introduced between 1498c1d and  43982d7

[2016-07-12 10:22] macmule commented on #62
@monaronyc The issue I have is being able to test ADPassMon in an environment that would follows the same naming convention.

I currently do not have an AD, let alone one with spaces in names. I'll looking to build a test AD (time allowing).

[2016-07-12 11:49] monaronyc commented on #62
@macmule if you'd like me to help with testing, no problem. Send me what you have to test. @pmbuko (Peter) has helped us in the past with this very same problem. Maybe reach out to him? He was able to fix it in a jiffy!

[2016-07-19 15:52] apizz commented on #8
I know our environment would benefit from a "Check Keychain" in the menubar in ADPM.

Along the same lines, when I tested changing a password a couple months ago (10.11.5) at first login on another machine where the same user was logged in it presented the ADPM keychain prompt.  Now for whatever reason it's not bringing up the prompt anymore.  Have disabled the OSX keychain sync pref and the ADPM

[2016-07-20 21:51] apizz commented on #8
I can confirm that choosing "Refresh Kerberos ticket" brings up the Keychain prompt and will successfully update the Keychain pass, but for whatever reason it doesn't display the Keychain prompt at login if the keychain is out of sync with the user's new AD pass.

[2016-07-21 21:11] apizz commented on #55
I was having issues getting this to work with the user preference.  Switched to profile (comp level) and still no luck getting the keychain prompt to trigger at login.  The OSX keychain sync has been disabled.  The only way I've successfully gotten the ADPM keychain sync prompt to appear is by manually refreshing the kerberos ticket from the menubar

[2016-08-06 20:52] SachinParmar commented on #65
I'm having this issue right now, can't figure what's happening my progress is here https://jamfnation.jamfsoftware.com/discussion.html?id=20657 worked perfectly before 10.11.4-6

[2016-08-07 07:41] macmule commented on #65
As posted on JAMFNation:

Check your domains password change policy.

The error is saying that you've failed some criteria, is there maybe a part of the policy that doesn't allow changes within X days?

[2016-09-15 12:31] bjmd opened #72 "Incorrect version in 2.20.20 source"
Hey.

I am looking into using version 2.20.20 but when downloading the source its still listed as 2.20.19.

Can you confirm if that is meant to be or if its just a typo and should read .20?

[2016-09-15 12:33] macmule commented on #72
Hi @bmillington,

2.20.20 is a pre-release, with source not published yet.. You can download a compiled app from: https://github.com/macmule/ADPassMon/releases/tag/2.20.20

[2016-09-15 12:35] bjmd commented on #72
@macmule wow that was a quick reply!

OK thanks, that makes sense. Do you know when the source will be published? I have made changes to the code for our environment so I can't just run the compiled app.

[2016-09-15 12:36] macmule commented on #72
@bmillington there is a future release coming "soon".. Needs testing on 10.12.

[2016-09-15 12:38] bjmd commented on #72
@macmule: We will happily be your guinea pig if needed... :-)

In the mean time I will see if I can port the changes across manually, if I can figure out what they are!

[2016-09-15 12:40] macmule commented on #72
@bmillington Ok.. well just committed the 2.20.20 source.
https://github.com/macmule/ADPassMon/commit/cf59dc95cfd7e4ccd54137243f0103125c1d2e29

TBH, I can't remember what state it's in.. hence not releasing.

[2016-09-15 12:53] bjmd commented on #72
OK thats cool, no problem.

On 15 September 2016 at 13:40:45, macmule (notifications@github.com) wrote:

@bmillington https://github.com/bmillington Ok.. well just committed the
2.20.20 source.
cf59dc9
https://github.com/macmule/ADPassMon/commit/cf59dc95cfd7e4ccd54137243f0103125c1d2e29

TBH, I can't remember what state it's in.. hence not releasing.

—
You are receiving this because you were menti

[2016-09-20 18:39] GrandDanois opened #73 "ADpassmon icon "disappears" from the status menu"
Hi in my company we have several Mac users inc. myself, who are very happy ADpassmon users.
Unfortunately some of the users are starting to experience that the ADpassmon icon strangely disappears from the status menu in the top right corner, and when its gone - notting can bring it back.
I have tried to uninstall, restart, try an older version etc. nothing works. could you please help before all m

[2016-09-20 19:13] macmule commented on #73
Hi @GrandDanois, can you see anything in the system.log when you try to launch ADPassMon?

[2016-09-20 19:13] #72 closed, assigned to nobody

[2016-09-21 07:55] GrandDanois commented on #73
Hi @macmule this is from a user with the specific problem

Here are the logs from Console, regarding shutting down, starting the computer and starting the application from Programs.

// Shut down computer, diagnostic and usage messages
2016-09-21 09:43:37,717 diagnostics_agent[381]: com.apple.message.domain: com.apple.usage.app_activetime
com.apple.message.signature: ADPassMon
com.apple.message.si

[2016-09-21 15:02] jardhug commented on #73
Are you using a configuration profile?

[2016-09-21 15:10] GrandDanois commented on #73
We are using profile manager?

[2016-09-21 15:13] jardhug commented on #73
Are you setting the apps preferences with a plist?

[2016-09-21 15:15] GrandDanois commented on #73
Nope don't even know how to do that :)

[2016-09-21 22:04] jardhug commented on #73
What if you open terminal and type in

killall ADPassMon

And then relaunch?

[2016-09-22 11:37] GrandDanois commented on #73
@danprk t doesn’t change anything. Console with all messages:

2016-09-22 13:33:43,809 com.apple.xpc.launchd[1]: (org.pmbuko.ADPassMon.63392[3589]) Service exited due to signal: Terminated: 15
2016-09-22 13:33:52,325 ADPassMon[3602]: Running on OS 10.11.x
2016-09-22 13:33:52,333 ADPassMon[3602]: **\* -[ADPassMonAppDelegate applicationWillFinishLaunching:]: Can’t make «class ocid» id «data optr0000

[2016-09-22 21:45] jardhug commented on #73
wiped the plist org.pmbuko.ADPassMon.plist and restarted?

[2016-09-23 04:08] GrandDanois commented on #73
@danprk where do I locate that plist?

[2016-09-23 04:50] pmbuko commented on #73
You can do `defaults delete org.pmbuko.ADPassMon.plist` and `sudo defaults delete org.pmbuko.ADPassMon.plist` to wipe all traces of it.

[2016-09-23 10:44] GrandDanois commented on #73
Hi @pmbuko it looks like it might have solved the issue - thank you very much 👍
@macmule If I may suggest an idea for a forthcoming update, it would be to make an uninstaller for ADpassmon

[2016-09-23 10:44] #73 closed, assigned to nobody

[2016-09-28 14:37] bryanzak commented on #33
I'm seeing the exact same issue on a completely fresh install. As a test, the app is not running, there are no existing prefs in the current user Library and I run this script

#!/bin/bash

adpassmonprefs="/Library/Preferences/org.pmbuko.ADPassMon"

defaults write "${adpassmonprefs}" "expireAge" -int 180
defaults write "${adpassmonprefs}" "isBehaviour2Enabled" -int 1
defaults write "${adpassmonpre

[2016-10-03 12:29] simonpie opened #74 "Crash on load"
Hello,

I tried ADPassMon from brew, but the application would not launch and it does that silently.  Nothing in `/var/log/system.log`.  So I decided to download the code and compile it.  It compiles it fine, but it stops immediately with the following messages :

[code]

I am running the software on a 10.11.6 macpro.  I have a local account, but the mac is connected to an AD.

[2016-10-03 13:24] jardhug commented on #74
ADPassMon only works if your machine is bound to AD. You might want to try something like https://gitlab.com/Mactroll/NoMAD

though its only in Beta

[2016-10-03 13:49] simonpie commented on #74
The machine is bound to the AD.  The account I use is local.

[2016-10-03 15:07] simonpie commented on #74
@danprk
Your suggestion for NoMAD worked perfectly for my use case (just changing my password).  Thanks.

[2016-10-23 06:25] mopenmind commented on #70
I have the same issue; The dialog "ADPassMon's "Change Password" feature requires assistive  access to open the password panel. Enable it now? (requires password)" appears on every login although I allowed access before. As I understand, skipping the check does not actually allow access or does it?

[2016-10-23 06:31] macmule commented on #70
@mopenmind, is this on 10.12?

Apple have SIP protected the Assistive Devices DB, so probably why.

I'm hoping to spend some time on ADPassMon & 10.12 this week, but we'll probably need to only allow password changes via ADPassMon.

[2016-10-23 17:09] mopenmind commented on #70
Exactly, this is on 10.12.

[2016-10-29 20:09] macmule opened #75 "Move logging to ~/Library/Logs/ADPassMon.log"
Due to Sierra's logging changes, write logs to a log file of ADPassMon's own.

[2016-10-29 20:10] macmule commented on #70
The change i'm going to make is that on 10.12 you'll need to use the inbuilt password change mechanism.

[2016-10-29 20:10] macmule commented on #74
Cool! thanks @danprk.

Closing off.

[2016-10-29 20:10] #74 closed, assigned to nobody

[2016-10-29 20:11] macmule commented on #68
Hi @bmillington,

I'll make some changes in the next release (2.21.0), which I now have a little test AD so.. might actually be able to release something.

[2016-10-29 20:13] macmule commented on #65
Closing this off for now, presuming it's an AD issue.. either communicating to AD client side, or a policy is in the way.

[2016-10-29 20:13] #65 closed, assigned to macmule

[2016-10-29 20:13] macmule commented on #71
Closing off, as presuming it's the issue that @mariuslangz mentioned.

[2016-10-29 20:13] #71 closed, assigned to nobody

[2016-10-29 20:14] macmule commented on #33
I'll see if i can replicate this, & try to fix in 2.21.0

[2016-10-29 20:16] macmule commented on #44
So, this issue is due to some SSL VPN's causing ADPassMon to have issues looking up details etc.

Currently, I'll not be able to test anything in relation to this. So will close off for now, sorry folks.

[2016-10-29 20:16] #44 closed, assigned to macmule

[2016-10-29 20:18] macmule commented on #46
Closing this off.

I'm going to do one more release, (2.21.0), but will still not sign the app as if I did.. the cert would expire within a year & the idea of one more release is to give folks to transition to NoMAD.

[2016-10-29 20:18] #46 closed, assigned to macmule

[2016-10-29 20:23] macmule commented on #51
Closing off, but if here & looking for ADPassMon sans the AD. Have a look at: https://gitlab.com/Mactroll/NoMAD

[2016-10-29 20:23] #51 closed, assigned to macmule

[2016-10-29 20:27] macmule commented on #57
Kinda need Info.plist!

The app is not going to be signed, but is odd to see the _CodeSignature stuff there.

PkgInfo seems to come as a part of the project build, leaving for now as tbh.. not sure how to stop that!

[2016-10-29 20:28] macmule commented on #58
Lovely question!

No idea about a solution for the folks on windows. Sorry!

[2016-10-29 20:28] #58 closed, assigned to macmule

[2016-10-29 20:29] macmule commented on #62
Something to test!

[2016-10-29 20:30] macmule opened #76 "Support for spaces in username"
As per: https://github.com/macmule/ADPassMon/issues/62

[2016-10-29 20:32] macmule opened #77 "Support for comma as a decimal mark"
As per issues:
- https://github.com/macmule/ADPassMon/issues/59
- https://github.com/macmule/ADPassMon/issues/61

[2016-10-29 20:33] macmule commented on #64
Closing as manual mode should be the fix here.

[2016-10-29 20:33] #64 closed, assigned to macmule

[2016-10-29 20:34] macmule commented on #63
I'd suggest looking at: https://gitlab.com/Mactroll/NoMAD

[2016-10-29 20:34] #63 closed, assigned to nobody

[2016-10-29 20:38] macmule opened #78 "Correct offline update function"
To try & resolve:
- https://github.com/macmule/ADPassMon/issues/37
- https://github.com/macmule/ADPassMon/issues/38
- https://github.com/macmule/ADPassMon/issues/43
- https://github.com/macmule/ADPassMon/issues/67

[2016-10-29 21:12] macmule commented on #75
Done!

Needs to be added to wiki.

[2016-10-29 21:12] #75 closed, assigned to macmule

[2016-10-29 21:47] macmule opened #79 "Quit if not bound & alert"
See: `/usr/sbin/dsconfigad -show | /usr/bin/awk '/Active Directory Domain/{print $NF}'`

[2016-10-29 21:58] macmule commented on #59
Can you folks run the below & advise what is returned?

`echo '(131258737778620155/10000000)-11644473600' | /usr/bin/bc`

@tommywo, @entusdictus, @lumaforge

[2016-10-29 21:59] macmule commented on #61
Can you folks run the below & advise what is returned?

`echo '(131258737778620155/10000000)-11644473600' | /usr/bin/bc`

@MaxFrames

[2016-10-29 22:28] macmule opened #80 "Quit if fails & advise"

[2016-10-29 22:29] macmule opened #81 "Silently quit if running as a non-AD account & runIfLocal not set"

[2016-10-29 22:44] macmule commented on #62
@monaronyc & @ekelling Please test the below, it's a very early build of next release.

Seems to work in my testing.

[ADPassMon.zip](https://github.com/macmule/ADPassMon/files/560193/ADPassMon.zip)

[2016-10-29 22:46] macmule commented on #76
Hopefully...
[ADPassMon.zip](https://github.com/macmule/ADPassMon/files/560195/ADPassMon.zip)

[2016-10-29 23:16] macmule commented on #59
@entusdictus, @lumaforge, @tommywo

Can you test the below? I think the issue was with NSNumberFormatter.. I think

[ADPassMon.zip](https://github.com/macmule/ADPassMon/files/560206/ADPassMon.zip)

[2016-10-29 23:17] macmule commented on #61
@MaxFrames

Can you test the below?

[ADPassMon.zip](https://github.com/macmule/ADPassMon/files/560206/ADPassMon.zip)

[2016-10-31 13:10] monaronyc commented on #62
EXCELLENT! We'll try it now. Stand by...

[2016-10-31 15:41] homebysix commented on #57
I'm not suggesting removing the files — simply making them non-executable. (`chmod -x foo`)

[2016-11-03 12:56] MaxFrames commented on #61
@macmule
It's been so long that I'd forgotten all about this issue :-P
Well, since then I've upgraded to OSX 10.12. The OS language is still Italian.
I have tried the app I extracted from the ZIP file you posted above. No difference in my case. I still have the same problem (apparently, my plist workaround has been reverted by upgrading the OS). The app starts automatically, and is visible in the

[2016-11-03 19:29] macmule commented on #61
& the output is from the expiring account right?

Sat, 10 Dec 2016 20:02:57 GMT is the epoch time converted to human readable.

Can you post the ~/lLogs/ADPassMon.log from the account with the minus days?

[2016-11-04 07:54] MaxFrames commented on #61
The output is from the account with an expiring password, yes.
I am not sure what log you want me to post. I assume you mean the ADPassMon.log file found in the Console app, under ~/Library/Logs. Here is how it looks this morning (viewed from the same account):

Thu Nov 3 13:40:11 CET 2016 Launching.....
Thu Nov 3 13:40:11 CET 2016 ADPassMon 2.21.0
Thu Nov 3 13:40:11 CET 2016 Running on OS 10.12.x

[2016-11-04 08:01] macmule commented on #61
Thanks.

I'm just trying to figure out how to recreate the issue to fix it.

Can you also post the org.pmbuko.adpassmon.plist? Should be in the users library.

Regards,

Ben.

[2016-11-04 08:23] MaxFrames commented on #61
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>accTest</key>
    <integer>0</integer>
    <key>expireAge</key>
    <integer>180</integer>
    <key>expireDateUnix</key>
    <string>1,4724892</string>
    <key>isBehaviour2Enabled</key>
    <integer>0</integer>
    <key

[2016-11-04 08:31] macmule commented on #61
As text?

Regards,

Ben.

[2016-11-04 08:49] macmule commented on #61
thanks @MaxFrames.. sorry hadn't had AM coffee.

`1,4724892` is odd, i'm trying to replicate that comma but cannot :(

That also gives a date of "GMT: Sat, 20 Jun 1970 10:14:52 GMT"

However, that last date seems to sat 29th of August?

[2016-11-04 09:13] entusdictus commented on #59
@macmule, the result is:
myuser$ echo '(131258737778620155/10000000)-11644473600' | /usr/bin/bc
1481400177

[2016-11-04 09:14] macmule commented on #59
@entusdictus can you test: **https://github.com/macmule/ADPassMon/files/560206/ADPassMon.zip**

[2016-11-04 10:43] MaxFrames commented on #61
It is 29th of August. That was the date when this user's password last expired. Indeed I can confirm that I last changed it on August 30th. Passwords in our domain expire every 6 months, so the current expiration date is february 26, 2017 for this account. As for the comma, I understand it shouldn't be there? Maybe it's because of regional settings? I am using the Italian version of OSX with Itali

[2016-11-04 11:26] macmule commented on #61
Yep.. i've been looking at decimal marks & making it non-regionalised as AppleScript is faux-americas english, so expects no comma.. but cannot replicate yet.. i'll keep trying though!

@MaxFrames can you run:

`/usr/bin/dscl localhost read /Search/Users/$USER msDS-UserPasswordExpiryTimeComputed`

and:

`/usr/bin/dscl localhost read /Search/Users/$USER SMBPasswordLastSet | /usr/bin/awk '/LastSet:/

[2016-11-04 11:29] MaxFrames commented on #61
The first command gives "No such key: msDS-UserPasswordExpiryTimeComputed"
The second command gives "131170124806387645"

[2016-11-04 11:47] macmule commented on #61
ok.. cool.. to the last commands result gives an Epoch of: 1472538880, which gives a date of: GMT: Tue, 30 Aug 2016 06:34:40 GMT.

That's only 66 days ago, not the 137 you're seeing.. but still negative days.

For the last command, you should get the result twice. Are you only getting it once?

[2016-11-04 11:49] macmule commented on #61
@MaxFrames can you also post the output of `dsconfigad -show`?

Removing the domain info at the top

[code]

[2016-11-04 11:53] MaxFrames commented on #61
Yes I am only getting the output once, not twice.

Active Directory Forest          = mydomain.local
Active Directory Domain          = mydomain.local
Computer Account                 = sp-mymachine$

Advanced Options - User Experience
  Create mobile account at login = Disabled
     Require confirmation        = Enabled
  Force home to startup disk     = Enabled
     Mount home as sharepoint    =

[2016-11-04 11:54] macmule commented on #61
Ah!

Network account. (Create mobile account at login = Disabled).

Ok, gives me something else to test.

[2016-11-04 12:01] MaxFrames commented on #61
Yep, we are not using roaming profiles.

[2016-11-04 12:02] macmule commented on #61
Cool.

Something more to test, it changes the dscl calls a wee bit.

I'll get back to you.

On Fri, Nov 4, 2016 at 12:01 PM, MaxFrames notifications@github.com wrote:

##

Regards,

Ben

[2016-11-04 12:23] macmule commented on #61
Can you download & run the attached, then paste the output?

[cfprefs-adpassmon.py.zip](https://github.com/macmule/ADPassMon/files/571436/cfprefs-adpassmon.py.zip)

The above output is from a Mac which is bound, network & non-roaming account, & os etc is in italian.

[2016-11-04 12:26] macmule commented on #61
oh.. you're on 10.12?

[2016-11-04 13:26] macmule commented on #62
@monaronyc any update?

[2016-11-04 13:52] entusdictus commented on #59
First it seems to work, but when configuring with "manual" settings, the status window will keep the status "Working..."
We have to use the "manual" setting in this environment, because automatic displays a different password runtime (long story short: automatic is technically correct, but customer has a weird construct for their passwords so this cannot be used).

[2016-11-04 14:36] macmule commented on #59
@entusdictus thanks! Progress at least :)

I think i know why the "working.." hang is occurring & will look into that shortly

[2016-11-04 15:28] monaronyc commented on #62
YES! Thank you by the way...! So far so good. And it looks like the problem with the space between the users AD name login was fixed as well. We also tried this in our Sierra environment. Working as well!

[2016-11-04 17:09] macmule commented on #62
@monaronyc awesome.. some more stuff is coming :)

[2016-11-04 17:09] #62 closed, assigned to macmule

[2016-11-04 17:19] macmule commented on #59
@entusdictus I was wrong about the "working..." issue, can you let me know what OS, what language & post the org.pmbuko.adpassmon.plist?

[2016-11-04 18:52] macmule commented on #70
@mopenmind I cannot recreate this on 10.12.x, how are you launching ADPassMon?

[2016-11-04 21:46] mopenmind commented on #70
@macmule I just launch ADPassMon via Finder. Since I disabled it using
`defaults write org.pmbuko.ADPassMon accTest 0` the message does not appear anymore.

[2016-11-04 22:08] macmule commented on #70
Thanks @mopenmind, i'lol have another look.

[2016-11-05 09:15] macmule commented on #70
Ok.. Closing this off.

10.12 is fine with this.

The issue is behaviour1 & an admin account without accTest set to 0 will ask for admin password for assistive devices. Once password entered you'll not see it again.

Or as per @danprk's recommendation:

https://github.com/macmule/ADPassMon/wiki/Customization#skip-accessibility-check

[2016-11-05 09:16] #76 closed, assigned to macmule

[2016-11-05 09:27] macmule opened #82 "Moar logging"
Add more logging & where the same log entry is written more than once, amend to clarify.

[2016-11-05 09:27] macmule commented on #82
:)

[2016-11-05 09:27] #82 closed, assigned to macmule

[2016-11-06 15:22] macmule commented on #38
Closing as cannot replicate & no response from OP.

[2016-11-06 15:22] #38 closed, assigned to macmule

[2016-11-07 07:58] entusdictus commented on #59
OS is 10.12.1 16B2555. Language is German.

[code]

[2016-11-07 08:52] MaxFrames commented on #61
The output of the py file run in a terminal:
Key Value =  1,4724892
Key Forced =  False

[2016-11-07 23:29] #81 closed, assigned to macmule

[2016-11-07 23:29] #80 closed, assigned to macmule

[2016-11-07 23:29] #79 closed, assigned to macmule

[2016-11-07 23:41] macmule commented on #33
Please test: https://github.com/macmule/ADPassMon/releases/tag/154

[2016-11-07 23:41] macmule commented on #37
Please test: https://github.com/macmule/ADPassMon/releases/tag/154

[2016-11-07 23:41] macmule commented on #43
Please test: https://github.com/macmule/ADPassMon/releases/tag/154

[2016-11-07 23:41] macmule commented on #59
Please test: https://github.com/macmule/ADPassMon/releases/tag/154

[2016-11-07 23:42] macmule commented on #61
Please test: https://github.com/macmule/ADPassMon/releases/tag/154

[2016-11-07 23:42] macmule commented on #67
Please test: https://github.com/macmule/ADPassMon/releases/tag/154

[2016-11-08 01:58] kgthenerd commented on #67
Still there
<img width="61" alt="screen shot 2016-11-08 at 7 27 34 am" src="https://cloud.githubusercontent.com/assets/195539/20083874/ee128bca-a584-11e6-8c61-a8d1e542f481.png">
<img width="280" alt="screen shot 2016-11-08 at 7 27 45 am" src="https://cloud.githubusercontent.com/assets/195539/20083877/f1422b66-a584-11e6-9e19-521b5083b3ca.png">

[2016-11-08 07:30] macmule commented on #67
@kgthenerd & what's in the logs?

[2016-11-08 07:52] MaxFrames commented on #61
It sort of works! A big step forward and a small step back.
The application now launches both on the account with the non expiring password and on the account with the expiring password. On the latter, it displays the correct number of days left before expiration. But on the former, it now displays a bogus negative value (-2541 days), and it displays a warning that I will have to change the passwo

[2016-11-08 07:58] Tranel opened #83 "New Version does not start"
Hi
Like always I copied the new version into the programs folder and if I click it to start nothing happens.  Is there a trick?

[2016-11-08 08:31] macmule commented on #67
So, we're not able to get the expiry age from LDAP.. or msDS.. so you've set it manually to 90 days.

dscl is able to grab the `SMBPasswordLastSet` value which is: 131002526829933846, once converted to time since epoch in seconds (via 131002526829933846 /  10000000 - 11644473600).. that gives: 1455779082.

Which is a date of: GMT: Thu, 18 Feb 2016 07:04:42 GMT.

90 Days from that is: GMT: Wed, 18

[2016-11-08 08:32] macmule commented on #83
@Tranel Are you testing the latest beta? https://github.com/macmule/ADPassMon/releases/tag/154

If not, please try that & post the log ~/Library/Logs/ADPassMon.log

[2016-11-08 08:34] macmule commented on #61
@MaxFrames Cool. I spent ages on the expiration calls.. not the non-expiring!

Can you post the log ~/Library/Logs/ADPassMon.log from the account that doesn't expire?

Also, the output of `/usr/bin/dscl localhost read /Search/Users/$USER userAccountControl | /usr/bin/awk '/:userAccountControl:/{print $2}'` under the same account.

[2016-11-08 09:11] macmule commented on #67
@kgthenerd Right, so as said dscl is showing that the password as set on 131002526829933846 which is 1455779082 in epoch & then gives a date of GMT: Thu, 18 Feb 2016 07:04:42 GMT.

Which is about 264/5 days ago, & if you then take of the 90 day expiry you'll see: -175days.

The issue posted by @MacDogbert is more to do with it being right once, then going to minus days depending on connectivity.

[2016-11-08 09:14] kgthenerd commented on #67
Let me try rejoining the AD on this mac, maybe that would resolve this issue.

[2016-11-08 09:15] macmule commented on #67
@kgthenerd Is this a mobile account or a network account?

[2016-11-08 09:16] kgthenerd commented on #67
~~network account i believe~~
It's a mobile account

[2016-11-08 10:07] macmule commented on #67
That's odd, as a network account should not be able to login is bad AD bind.

But, please report back what you see.

[2016-11-08 14:32] Tranel commented on #83
Yes. Latest version. And it is not shown in the Menu Bar anymore.

Here is the log.

Tue Nov 8 15:28:46 CET 2016 Launching.....
Tue Nov 8 15:28:46 CET 2016 ADPassMon Version: 2.21.0 (154)
Tue Nov 8 15:28:46 CET 2016 Running on OS 10.12.x
Tue Nov 8 15:28:46 CET 2016 Username: *********
Tue Nov 8 15:28:46 CET 2016 Set number formatter
Tue Nov 8 15:28:46 CET 2016 Registering defaults..
Tue Nov 8 15:2

[2016-11-08 15:20] macmule commented on #83
@Tranel odd..

Can you:
- Open Console.app, search for "ADPassMon". Open "ADPassMon" & advise of any messages that appear there.
- Copy the output of `defaults read org.pmbuko.adpassmon` here.
- Copy the output of `sudo dsconfigad -show` here

[2016-11-08 18:31] macmule commented on #57
I found the pkginfo file. Will see if I can kill off the others etc.

[2016-11-08 22:06] jasonsova commented on #83
after installing release 21 it worked for a bit then I installed kerbminder and started seeing the below errors

ADPassMon.log
Tue Nov 8 15:46:26 CST 2016 Launching.....
Tue Nov 8 15:46:26 CST 2016 ADPassMon Version: 2.21.0 (154)
Tue Nov 8 15:46:26 CST 2016 Running on OS 10.11.x
Tue Nov 8 15:46:26 CST 2016 Username: username
Tue Nov 8 15:46:26 CST 2016 Set number formatter
Tue Nov 8 15:46:26 CST 2

[2016-11-08 22:10] macmule commented on #83
@jasonsova thanks!

From: https://developer.apple.com/library/content/documentation/AppleScript/Conceptual/AppleScriptLangGuide/reference/ASLR_error_codes.html

Which version of KerbMinder?

(For my info).
-1708 The script doesn’t understand the <message> message. The event was not handled.

[2016-11-08 22:13] jasonsova commented on #83
KerbMinder.v1.4b2

[2016-11-08 22:16] macmule commented on #83
@tranel are you running KerbMinder too?

[2016-11-08 22:49] jasonsova commented on #83
fyi, I just went in and manually deleted all the kerbminder files, preferences, LD and LA’s and ADPassMon came back to life. I then installed the 1.3 of kerbminder and got the same result as the 1.4 pre-release of Kerbminder

[2016-11-09 09:36] MaxFrames commented on #61
Log:
Wed Nov 9 10:30:41 CET 2016 Launching.....
Wed Nov 9 10:30:41 CET 2016 ADPassMon Version: 2.21.0 (154)
Wed Nov 9 10:30:41 CET 2016 Running on OS 10.12.x
Wed Nov 9 10:30:41 CET 2016 Username: sysadmin
Wed Nov 9 10:30:41 CET 2016 Set number formatter
Wed Nov 9 10:30:41 CET 2016 Registering defaults..
Wed Nov 9 10:30:41 CET 2016 Retrieving defaults..
Wed Nov 9 10:30:42 CET 2016 Running under a n

[2016-11-09 11:56] Tranel commented on #83
Yes, I am running the latest version of KerbMinder too.

[2016-11-09 11:57] macmule commented on #83
Perfect! (well not, but from an issue tracking pov it is).

I'll have a look at this & hopefully will have a new build out over the weekend.

[2016-11-09 11:58] macmule commented on #61
Perfect! (well not, but from an issue tracking pov it is).

I'll have a look at this & hopefully will have a new build out over the weekend.

[2016-11-09 12:06] Tranel commented on #83
I have installed the previous version again and everything works fine. Seems really that the latest version of ADPassMon and KerbMinder do not work together.

[2016-11-10 07:27] entusdictus commented on #59
@macmule, looks good so far! 👍

[2016-11-10 13:57] macmule opened #84 "Remove KerbMinder support"
The support, is only toggling a menu item.

As per:

https://github.com/macmule/ADPassMon/blob/master/ADPassMon/ADPassMonAppDelegate.applescript#L379

[code]

And... https://github.com/macmule/ADPassMon/blob/master/ADPassMon/ADPassMonAppDelegate.applescript#L1506

[code]

So it's largely not needed, & has caused an issue as per: https://github.com/macmule/ADPassMon/issues/83

[2016-11-10 13:57] macmule commented on #83
Hi folks,

I'm going to the KerbMinder support as per: https://github.com/macmule/ADPassMon/issues/84

[2016-11-11 20:18] danshaw commented on #84
I apologize for the simplistic question, but does this change here remove compatibility with Kerbminder because the feature is now in ADPM and Kerbminder is not needed anymore?

The reason I ask is that Kerbminder for us has helped a lot at keeping the Kerberos ticket active and not expire. Without it, the ticket will sometimes expire and to the user it looks like they can still reset their passwo

[2016-11-11 20:33] macmule commented on #84
@danshaw The issue is the "integration" that seems to be in ADPassMon but actually isn't doing anything.

Running KerbMinder alongside ADPassMon will still work after this change, just the menu item for KerbMinder will disappear from ADPassMon.

Does that make sense?

[2016-11-11 20:36] danshaw commented on #84
Ah ok. Makes total sense. What will be the best method moving forward for knowing if Kerbminder is active?

[2016-11-11 20:38] macmule commented on #84
@danshaw I have no idea.. ADPassMon's code doesn't show if KerbMinder is active.. just that the file is there.

[code]

So there never has been any real integration & the latest KerbMinder releases (1.3+) do not leverage ADPassMon's plist anymore.. so they are really 2 separate apps.

[2016-11-12 13:08] macmule opened #85 "Correct usage of canPassExpire function"
This function seemed to be only called via easyMethod & not altMethod or offlineUpdate.

Mentioned in: https://github.com/macmule/ADPassMon/issues/61#issuecomment-259370942

[2016-11-12 13:09] macmule commented on #61
@MaxFrames please test: https://github.com/macmule/ADPassMon/releases/tag/155

[2016-11-12 13:09] macmule commented on #83
Please test: https://github.com/macmule/ADPassMon/releases/tag/155

[2016-11-12 13:10] macmule commented on #59
@entusdictus awesome.. I'll close this off for now :)

[2016-11-12 13:10] #59 closed, assigned to macmule

[2016-11-12 13:11] #84 closed, assigned to macmule

[2016-11-12 13:11] #85 closed, assigned to macmule

[2016-11-12 13:12] macmule commented on #77
https://github.com/macmule/ADPassMon/issues/59#issuecomment-259619882

[2016-11-12 13:12] #77 closed, assigned to macmule

[2016-11-12 13:12] macmule commented on #67
@kgthenerd ahh.. didn't see the update.. did rebinding work?

[2016-11-12 13:13] macmule commented on #33
Please test: https://github.com/macmule/ADPassMon/releases/tag/155

[2016-11-12 13:14] macmule commented on #43
Please test: https://github.com/macmule/ADPassMon/releases/tag/155

[2016-11-12 13:14] macmule commented on #37
Please test: https://github.com/macmule/ADPassMon/releases/tag/155

[2016-11-12 13:21] macmule commented on #68
@bmillington once the outstanding issues are fixed, i'm looking to add some enhancements. This being one of them.

I'm thinking of a pref key that people set if they want the local password to change too when using local accounts.

This would keep things working as has been for folks previously, but make the change for you.. Does that work?

[2016-11-14 08:15] MaxFrames commented on #61
It seems to work; I see correct indications for the account with the non expiring password ("--") and for the account with the expiring password (103d).
Thanks for the good work.

[2016-11-14 08:24] MaxFrames commented on #61
I wonder if I can make here a feature request. I would like to be able to change preferences globally (for all users). Specifically, I would like the password change method to default to "use adpassmon" for all users, because I want to make sure the keychain password is automatically kept in sync (a major cause of headaches); if I'm not mistaken, the only way to apply this setting to the main user

[2016-11-14 08:28] macmule commented on #61
Thanks for the update @maxframes. :)

For the settings, i'd deploy a profile to all the Macs running ADPassMon.

ADPassMon would pick them up on it'a 1st launch after the profile has been installed.

[2016-11-14 10:12] bjmd commented on #68
Hey @macmule. I actually ended up editing the AppleScript itself to resolve this issue but we are now testing NoMAD and looking into Enterprise Connect. Although your suggestion above would work well if anyone comes across the same issue as I did :)

[2016-11-14 13:40] macmule commented on #68
@bmillington awesome.. as i'm lazy.. can you post your amendments?

[2016-11-14 13:49] bjmd commented on #68
@macmule haha, aren't we all :)

The amendments I made were specific for our domain and also hard coded a couple of the dynamic parts you had put in so not sure they will be any good to put in globally?

`-- set isInSearchPath to (do shell script "dscl /Search read /Users/$USER AuthenticationAuthority") as string
set isInSearchPath to "Active Directory"`

Cant remember why but I was running into p

[2016-11-14 14:53] macmule commented on #68
Perfect, thanks!

Those last lines are what I was thinking.

On Mon, Nov 14, 2016 at 1:49 PM, bmillington notifications@github.com
wrote:

##

Regards,

Ben

[2016-11-16 12:40] ghost opened #86 "Doesn't start"
I just downloaded the latest version (2.21.0) and tried to run it but it didn't start at all, I've caught these logs from `/var/logs/syslog`:

[code]

Any idea of what it won't run?

I'm on a Macbook Pro running El Capitan 10.11.1

[2016-11-16 12:45] macmule commented on #86
Not seen this at all, is this https://github.com/macmule/ADPassMon/releases/tag/155?

Did you just run the .app in the DMG or compile yourself?

[2016-11-16 15:21] ghost commented on #86
Yes, that build.

I've just downloaded the release, dragged it on the /Application folder and run it.

[2016-11-16 15:41] ghost commented on #86
I've also tried to put the LaunchAgent file and restart my machine, then I get these:

[code]

[2016-11-16 15:55] ghost commented on #86
Also tried the latest stable release 2.20.19 with the same exception:

[code]

[2016-11-16 18:06] macmule commented on #86
ok.. really really odd.

I've been able to run 2.20.19 to 2.20.21 on Macs running 10.11.6 & 10.12.x.

Is there a reason you're running 10.11.1?

[2016-11-16 19:04] macmule commented on #86
Can you run  2.20.21 (155) again & post the contents of ~/Library/Logs/ADPassMon.log?

Also the output of: `defaults read org.pmbuko.adpassmon`

[2016-11-16 19:20] macmule commented on #86
@martip-sainsburys with thanks to @pudquick.. I think we might have found something that could be causing this.

On your Mac do you have a /Library/Components/ folder? If not, create it.

If you do, can you move out what is in there & relaunch ADPassMon?

See: https://developer.apple.com/reference/coreservices/1665444-component_manager

&: http://forum.latenightsw.com/t/debugging-hazel-applescript

[2016-11-16 19:25] macmule commented on #86
@martip-sainsburys lastly, can you run the below in script editor & post the output?

[code]

 then: (in separate windows)

[code]

[2016-11-17 12:13] ghost commented on #86
Wow lot of actions here! Lets go bit by bit.
- Yes I'm locked on that Mac version at work.
- Output of `defaults read org.pmbuko.adpassmon`:

[code]
- I do have the `/Library/Components` folder and its empty, therefore it was on the state you suggested all along.
- The `get scripting components` doesn't do anything on the script editor, although the logs read

[code]

Same for the other script

[2016-11-17 12:17] macmule commented on #86
@martip-sainsburys ok.. well not good news I'm afraid.

The last two script editor commands should not have errored, so looks like your AppleScript environment is a bit messed up.

<img width="520" alt="screenshot 2016-11-17 12 14 28" src="https://cloud.githubusercontent.com/assets/2464974/20389052/9146093e-acbf-11e6-9fec-b0e73918e661.png">
<img width="525" alt="screenshot 2016-11-17 12 14 12" src

[2016-11-18 10:17] ghost commented on #86
:(

[2016-11-18 10:18] #86 closed, assigned to nobody

[2016-11-19 18:35] macmule commented on #70
Reopening. Just had another report.

Will look at not running accTest if on 10.12 & seeing if I can recreate the prompt showing even after entering admin credentials.

CC @bwiessner on Slack.

[2016-11-19 18:36] macmule commented on #83
Closing off a no crash with KerbMinder installed now.

[2016-11-19 18:36] #83 closed, assigned to macmule

[2016-11-19 18:41] macmule commented on #33
Closing off as sorted in 2.21.0

[2016-11-19 18:41] #33 closed, assigned to macmule

[2016-11-19 18:42] #61 closed, assigned to macmule

[2016-11-19 21:17] macmule opened #87 "Message cut off & duplicated in new builds"
![pasted image at 2016_11_15 11_19 am](https://cloud.githubusercontent.com/assets/2464974/20458453/8a883164-ae9d-11e6-82dc-1dc6d53d7335.png)

H/T @stephanpeterson on Slack

[2016-11-19 21:32] macmule commented on #87
In build 156

[2016-11-19 21:32] #87 closed, assigned to macmule

[2016-11-19 22:53] macmule opened #88 "Send all errors to ~/L/P/ADPassMon.log & not system.log"
in build 160

[2016-11-19 23:41] #88 closed, assigned to macmule

[2016-11-19 23:42] macmule commented on #70
OK.. so skipping should mean that the app will not prompt till next launch.

To completely disable: https://github.com/macmule/ADPassMon/wiki/Customization#skip-accessibility-check

(as of build 162)

[2016-11-19 23:42] #70 closed, assigned to macmule

[2016-11-20 00:06] macmule opened #89 "Change changePassword for behaviour 1 on 10.9+"
With 10.9+, admin access is needed to change accessibility to "click" the Change Password button in the Users & Groups pref pane.

This could be avoided just by opening the prefpane as per:

![screen shot 2016-11-20 at 00 01 10](https://cloud.githubusercontent.com/assets/2464974/20459335/2daecae4-aeb5-11e6-8c41-9ab97827010e.png)

[2016-11-20 00:11] macmule commented on #89
In build 163

[2016-11-20 00:11] #89 closed, assigned to macmule

[2016-11-20 00:19] macmule commented on #37
Please Test: https://github.com/macmule/ADPassMon/releases/tag/163

@w4774, @danprk, @steven-j-klein, @smashism

[2016-11-20 00:20] macmule commented on #43
Please test: https://github.com/macmule/ADPassMon/releases/tag/163

@MAJ007, @Tranel, @richmac25, @supra2nr

[2016-11-20 00:20] macmule commented on #67
Please test: https://github.com/macmule/ADPassMon/releases/tag/163

@MacDogbert, @kgthenerd, @karlmikaelskar, @kdbo

[2016-11-20 00:29] macmule opened #90 "Update Wiki pre-2.21.0 release"
_**NOTE:** This is for me to add notes of things to update_

[2016-12-02 18:38] jcosper opened #91 "Login with no password expiration time"

[2016-12-02 18:40] jcosper commented on #91
It displays 10523287d remaining for an account that does not have a password expiration time.

[2016-12-02 19:32] macmule commented on #91
@jcosper please test: https://github.com/macmule/ADPassMon/releases/tag/163

[2016-12-14 16:10] nulleddeviant opened #92 "plist Preferences Settings For All Users"
Hi,

I seem to be having an issue applying preferences to all users on the computer (including any new AD accounts logging in and myself). So, I can go onto the GUI preferences and change that manually just fine but of course it only applies to that account. So, I've followed the Wiki's instructions on copying over the plist to /Library/Preferences so it applies to all users but it doesn't seem to

[2016-12-14 16:30] jardhug commented on #92
How are you editing the plist? using Text Editor? if you're using Text Editor make sure you're editing in plain text and have smart quotes and dashes off.

This is mine below

[code]

You can post your code by putting ``` at the front

https://guides.github.com/features/mastering-markdown/

[2016-12-14 16:41] nulleddeviant commented on #92
@danprk I'm using TextWrangler so not sure if that's what's causing the problem? I'll try out yours to see if maybe it's something I've written.

EDIT: That doesn't work either -- is it possible there is another plist location I'm not aware about that's overriding this one?

[2016-12-14 16:50] jardhug commented on #92
@nulleddeviant are you using an MDM? Casper, Munki?

preferences will either be in
~/Library/Preferences/
or
/Library/Preferences/
or
/Library/Managed Preferences/

[2016-12-14 17:04] nulleddeviant commented on #92
@danprk I'm actually testing this locally before deploying this (which will be in a image). ~/Library/Preferences has my current preferences but of course it's dynamic depending on the user. Not sure how to have the preferences settings applied to all users on the computer instead of putting it in each user's folder manually.

EDIT: Actually, it seems if I try to change the warningdays field in ~/

[2016-12-14 18:04] jardhug commented on #92
@nulleddeviant Try doing your changes in the GUI, then take the plist from ~/Library/Preferences/ and move it to /Library/Preferences/ (that's the location for all users)

maybe give a restart a go as well.

[2016-12-14 19:34] nulleddeviant commented on #92
@danprk Still nothing, not sure what's wrong since I'm doing it from an administrator account. I'll let you know if I figure it out!

[2016-12-15 17:00] nulleddeviant commented on #92
Hi @danprk and anybody else who is having the same problem -- it seems that if you chown and chmod the files even when you su root in terminal it doesn't seem to apply the permissions. You have to manually login to the root account on the system and edit the changes from there. Then of course as mentioned above restart the computer when you apply changes to the /Library/Preferences .plist.

Hope t

[2016-12-15 17:00] #92 closed, assigned to nobody

[2016-12-15 17:46] nulleddeviant opened #93 "Change Password - Not Working?"
Hi,

When I try to change the password from ADPassMon I get the "Password change failed. Please Try again." popup. I've checked the closed issues and it seems a few people had problems with it. My account options: "User cannot change password" and "Password never expires" have always been unchecked so not sure if it's an issue with ADPassMon. I'm able to change the password through the OS X login

[2016-12-16 11:26] macmule commented on #93
@nulleddeviant can you try a pre-release & then post the log found in ~/Library/Logs/ADPassmon.log?

https://github.com/macmule/ADPassMon/releases/tag/163

[2016-12-16 14:12] nulleddeviant commented on #93
@macmule, I tried the pre-release but didn't seem to work. I'll put the log below.

Fri Dec 16 09:08:50 EST 2016 ADPassMon Version: 2.21.0 (163)
Fri Dec 16 09:08:50 EST 2016 Running on OS 10.11.x
Fri Dec 16 09:08:50 EST 2016 Username: **firstname.lastname**
Fri Dec 16 09:08:50 EST 2016 Set number formatter
Fri Dec 16 09:08:50 EST 2016 Registering defaults..
Fri Dec 16 09:08:50 EST 2016 Retrieving

[2016-12-16 14:15] macmule commented on #93
@nulleddeviant that is helpful :)

So seems we're ending up at: https://github.com/macmule/ADPassMon/blob/master/ADPassMon/ADPassMonAppDelegate.applescript#L1085

Can you try the following in Terminal, changing oldPassword & newPassword as applicable.. then paste the output?

`dscl . -passwd /Users/$USER oldPassword newPassword`

[2016-12-16 14:25] nulleddeviant commented on #93
@macmule Just tried it, here's the output:

passwd: Invalid Path
<dscl_cmd> DS Error: -14009 (eDSUnknownNodeName)
COMPUTER NAME:~ root# dscl . -passwd /Users/test.account/ $oldPass $newPass
passwd: Invalid Path
<dscl_cmd> DS Error: -14009 (eDSUnknownNodeName)

Tried it with two separate accounts just in case.

[2016-12-16 14:31] macmule commented on #93
hmm.. did you add the / after the username? can you try without that?

[2016-12-16 14:33] nulleddeviant commented on #93
@macmule I'm used to pressing tab to finish a command so I did by accident! I tried without it and still same error. :(

[2016-12-16 14:34] macmule commented on #93
Can you try: `dscl . -read /Users/$USER`? Does that error?

[2016-12-16 14:36] nulleddeviant commented on #93
Yes it does, sadly!

<dscl_cmd> DS Error: -14136 (eDSRecordNotFound)

The directory does exist, so not sure why it's giving out that error.

[2016-12-16 14:38] macmule commented on #93
@nulleddeviant what's the path to the users home folder?

[2016-12-16 14:44] nulleddeviant commented on #93
The path is: /Users/test.account

I got that path straight from Finder.

When you mentioned that, I actually tried going on the actual account to see if it produces a different error, but no avail, same errors.

[2016-12-16 16:21] nulleddeviant commented on #93
**Update**

So, I've been looking around to see why DSCL isn't working so I tried _dscl . -ls /Users_ and the accounts I'm trying aren't showing up, only local accounts are showing up. Not sure if this is of any help!

[2017-01-03 14:27] nulleddeviant commented on #93
**Update**

So, I was able to find the AD directory dscl utilizes. I'm able to read the account successfully but changing the password gives me an error.

Here's the read action that might help --

`$COMPUTER:/ admin$ dscl /Active\ Directory/$Domain/All\ Domains -read /Users/test.account`

[code]

Now, here's where I try to change the password:

The password age is more than 1 day old, the passwor

[2017-01-26 11:35] thesling1 opened #94 "Help with installation - Please forgive me"
Hello!

For the life of me I do not understand how to install this tool...  The product looks awesome and looks to be exactly what I need... But I just don't get it.

Would someone be able to create a youtube video, or full step by step print screens of the process.  I imagine it is entirely likely it is easier than it looks but... Sorry launch agent?  Plist?

I place the adpass mon program in the

[2017-01-31 13:17] macmule commented on #94
Hi @thesling1,

Can you please join the [MacAdmins slack](https://macadmins.herokuapp.com).

There's a number of great channels there where folks can help (myself included).

[2017-01-31 13:17] #94 closed, assigned to macmule

[2017-02-06 13:28] simonelberts opened #95 "Notification every 10 minutes after the 14 days expiration date"
Is there a way to customize the Notification center alerts? Our users are receiving them every 10 min after there password is after the 14 days expiration day. I know this should be default be like 12 hours, but that's not the case in our situation.
![014392c3f1f9466fa725477caad4a50a_720](https://cloud.githubusercontent.com/assets/9071654/22648721/2fb77d44-ec78-11e6-91c2-7ce1d8192e45.png)
[ADPassM

[2017-02-06 16:15] nulleddeviant commented on #93
Solved -- had to re-do the group policy and push it out again. The change password now works! Make sure the security settings are being fulfilled and that group policy is working on both Windows & OS X.

[2017-02-06 16:15] #93 closed, assigned to macmule

[2017-02-15 13:37] kn1ght0wl opened #96 "Feature Request - Check alternate account"
I have two AD accounts, my primary account which I use to login daily and a privileged account that I use for admin tasks.  Would it be possible to use this tool to check the password expiration of that priv. account when logged in using my normal account?  I get warnings 15 days out for my normal account, however, the privileged account is not used to directly login to a server/workstation, so, n

[2017-02-15 16:16] macmule commented on #96
@kn1ght0wl Sadly no.

http://nomad.menu allows you to switch user accounts however, might be worth trying that.

[2017-02-15 16:16] #96 closed, assigned to macmule

[2017-03-07 16:36] captaincoconuts opened #97 "Updating all Keychains using the same password"
Is it possible for ADPassMon to update any other Keychains using the same password, we have printers and Outlook accounts with the Keychain password changed. It would be great if those could be updated as seamlessly as the main password.

[2017-04-01 23:15] macmule commented on #8
Hi folks,

ADPassmon is no longer maintained, please use [NoMAD](https://www.nomad.menu).

As such, i'm closing this off.

[2017-04-01 23:15] #8 closed, assigned to macmule

[2017-04-01 23:15] macmule commented on #37
Hi folks,

ADPassmon is no longer maintained, please use [NoMAD](https://www.nomad.menu).

As such, i'm closing this off.

[2017-04-01 23:15] #37 closed, assigned to macmule

[2017-04-01 23:15] macmule commented on #43
Hi folks,

ADPassmon is no longer maintained, please use [NoMAD](https://www.nomad.menu).

As such, i'm closing this off.

[2017-04-01 23:15] #43 closed, assigned to macmule

[2017-04-01 23:15] macmule commented on #55
Hi folks,

ADPassmon is no longer maintained, please use [NoMAD](https://www.nomad.menu).

As such, i'm closing this off.

[2017-04-01 23:15] #55 closed, assigned to macmule

[2017-04-01 23:16] macmule commented on #56
Hi folks,

ADPassmon is no longer maintained, please use [NoMAD](https://www.nomad.menu).

As such, i'm closing this off.

[2017-04-01 23:16] #56 closed, assigned to macmule

[2017-04-01 23:16] macmule commented on #57
Hi folks,

ADPassmon is no longer maintained, please use [NoMAD](https://www.nomad.menu).

As such, i'm closing this off.

[2017-04-01 23:16] #57 closed, assigned to macmule

[2017-04-01 23:16] macmule commented on #66
Hi folks,

ADPassmon is no longer maintained, please use [NoMAD](https://www.nomad.menu).

As such, i'm closing this off.

[2017-04-01 23:16] #66 closed, assigned to macmule

[2017-04-01 23:16] macmule commented on #67
Hi folks,

ADPassmon is no longer maintained, please use [NoMAD](https://www.nomad.menu).

As such, i'm closing this off.

[2017-04-01 23:16] #67 closed, assigned to macmule

[2017-04-01 23:17] macmule commented on #68
Hi folks,

ADPassmon is no longer maintained, please use [NoMAD](https://www.nomad.menu).

As such, i'm closing this off.

[2017-04-01 23:17] #68 closed, assigned to macmule

[2017-04-01 23:17] macmule commented on #78
Hi folks,

ADPassmon is no longer maintained, please use [NoMAD](https://www.nomad.menu).

As such, i'm closing this off.

[2017-04-01 23:17] #78 closed, assigned to macmule

[2017-04-01 23:17] macmule commented on #90
Hi folks,

ADPassmon is no longer maintained, please use [NoMAD](https://www.nomad.menu).

As such, i'm closing this off.

[2017-04-01 23:17] #90 closed, assigned to macmule

[2017-04-01 23:18] macmule commented on #91
Hi folks,

ADPassmon is no longer maintained, please use [NoMAD](https://www.nomad.menu).

As such, i'm closing this off.

[2017-04-01 23:18] #91 closed, assigned to macmule

[2017-04-01 23:18] macmule commented on #95
Hi folks,

ADPassmon is no longer maintained, please use [NoMAD](https://www.nomad.menu).

As such, i'm closing this off.

[2017-04-01 23:18] #95 closed, assigned to nobody

[2017-04-01 23:18] macmule commented on #97
Hi folks,

ADPassmon is no longer maintained, please use [NoMAD](https://www.nomad.menu).

As such, i'm closing this off.

[2017-04-01 23:18] #97 closed, assigned to nobody